<br />
<b>Fatal error</b>:  Cannot redeclare class REST_Controller in <b>D:\xampp\htdocs\cliicker\restserver\application\libraries\REST_Controller.php</b> on line <b>1107</b><br />

<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Compile Error</p>
<p>Message:  Cannot redeclare class REST_Controller</p>
<p>Filename: libraries/REST_Controller.php</p>
<p>Line Number: 1107</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
	
		
	

</div>