@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2e2zvh');
  src:  url('../fonts/icomoon.eot?2e2zvh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2e2zvh') format('truetype'),
    url('../fonts/icomoon.woff?2e2zvh') format('woff'),
    url('../fonts/icomoon.svg?2e2zvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e909";
}
.icon-2:before {
  content: "\e90a";
}
.icon-3:before {
  content: "\e90b";
}
.icon-4:before {
  content: "\e90c";
}
.icon-5:before {
  content: "\e90d";
}

.icon-engineer:before {
  content: "\e900";
}
.icon-fireman:before {
  content: "\e901";
}
.icon-first-aid-kit:before {
  content: "\e902";
}
.icon-first-aid-kit1:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-policeman:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e906";
}
.icon-test:before {
  content: "\e907";
}
.icon-first-aid-kit2:before {
  content: "\e908";
}
