

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

}


/* Mobile Layout: 320px to 767px. */
@media only screen and (max-width: 767px) {
	
	.myNavBar{ height:55px;}
	.formob{ display:block;}
	.fordext{ display:none;}
	.myNavBar .navbar-brand{ padding:0px;}
	.banner-area{ min-height:400px; margin-top:55px;}
	.slide{ height:400px; background-position:-500px !important;}
	
	.whowerae-bg{ height:auto; overflow:hidden;}
	
	.content-heading{ padding:0px;}
	.content-heading span{ font-size:50px; left:-10px; top:0px;}
	.content-heading h2{ font-size:32px;}
	
	.colorbomb, .colorbomb2, .colorbomb4, .colorbomb5, .colorbomb5{ display:none;}
	.ourproducts .content-heading span{font-size: 50px;}
	.product-filter ul li a{padding: 5px 15px;}
	
	
}
