@charset "utf-8";
/* CSS Document */
body {font-family: 'Montserrat', sans-serif; margin:0px; padding:0px; background:#fff;}
h1, h2, h3, h4, h5, span, a{ margin:0px; padding:0px; font-family: 'Montserrat', sans-serif; display:block;}
a:focus{ outline:none; text-decoration:none;}
a:hover{ outline:none; text-decoration:none;}

header, section, aside, footer, nav{ display:block;}

/*-----------------placeholder css -------------------------------*/

input::-moz-placeholder {  /* Firefox 19+ */ opacity:0.5; font-family: 'Montserrat', sans-serif; font-size:13px; font-weight:300; color:#999999 !important;}
input::-webkit-input-placeholder {  /* Firefox 19+ */ opacity:0.5; font-family: 'Montserrat', sans-serif; font-size:13px; font-weight:300; color:#999999 !important;}
input:-ms-input-placeholder {  /* Firefox 19+ */ opacity:0.5; font-family: 'Montserrat', sans-serif; font-size:13px; font-weight:300; color:#999999 !important;}
select::-ms-expand {display: none;}

textarea::-moz-placeholder {  /* Firefox 19+ */ opacity:0.5; font-family: 'Montserrat', sans-serif; font-size:15px; font-weight:400; color:#999999 !important;}
textarea::-webkit-input-placeholder {  /* Firefox 19+ */ opacity:0.5; font-family: 'Montserrat', sans-serif; font-size:15px; font-weight:400; color:#999999 !important;}
textarea:-ms-input-placeholder {  /* Firefox 19+ */ opacity:0.5; font-fam.headercls .navbar-navily:'Montserrat', sans-serif; font-size:15px; font-weight:400; color:#999999 !important;}

.pad-15-rigt{ padding-right:10px;}
.pad-15-left{ padding-left:10px;}
.pad-left-0{ padding-left:0;}
.pad-right-0{ padding-right:0;}


/*  =========*********  LOGIN page css  ***********============   */

.login-page-area{ position:relative; float:left; width:100%; height:100%;}
#clientsSlider{ width:100%; position:relative; float:left; height:100%; background:url(assets/images/login_signup-form.jpg) no-repeat center center; background-size:cover; opacity: 0.9;}
#clientsSlider ul{ position:relative; float:left; margin:0; padding:0; width:100%;}
#clientsSlider ul li{ list-style-type:none; float:left; margin:0; padding:0; width:100%;}


.ovarLay-login-bg{ position:absolute; width:100%; height:100%; top:0; left:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7f0118+100&0.85+0,0.85+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, rgba(127,1,24,0.70) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(127,1,24,0.70) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(127,1,24,0.70) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f00', endColorstr='#d97f0118',GradientType=0 ); /* IE6-9 */
}

.login-back-area{ background:#fff; width:60%; height:410px; position:absolute; float:left; border-radius:8px; box-shadow:0px 0px 7px rgba(0,0,0,0.5);}

.loginBtn-area{ width:15%; position:relative; float:left; min-height:410px;}
.loginBtn-area ul{ position:relative; float:left; margin:0; padding:0; min-height:174px;}
.loginBtn-area ul li{ list-style-type:none; float:left; width:100%; padding:0; margin:0;}
.loginBtn-area ul li a{ text-decoration:none; display:block; text-align:center; font-family: 'Abel', sans-serif; font-size:16px; font-weight:400; text-transform:uppercase; padding:20px 10px; margin:0; color:#898989; transition:all 0.3s;}
.loginBtn-area ul li a.activeLi {
  background: #e08e8e;
  color: #fff;
}
.loginBtn-area ul li a.activeLi2{ background:#c50025; color:#fff;}
.loginBtn-area ul li a span{ font-size:18px;}
.loginBtn-area ul li a:hover{ background:#c50025; color:#fff; transition:all 0.3s;}


.login-img-area{ width: 35%; position: relative; float: left; height: 450px; display: flex; justify-content: center; overflow: hidden; margin-top: -20px;}


.all-login-area{ width:50%; float:left; position:relative;}
.all-login-area h2{ font-size:48px; font-family: 'Great Vibes', cursive; text-align:center; color:#616161; font-weight:400; margin:0; padding-top:15px; line-height: 40px;}

.login-bg{ padding:15px; position:relative; float:left; width:100%; box-sizing:border-box;}
.login-bg span{font-size:14px; font-family: 'Cinzel', serif;  color:#da0029; text-align:center;}

.login-forms{position: relative; float: left; padding: 40px 40px 50px; width: 100%;}
.login-forms .form-group{ position:relative; float: left; width: 100%;}
.logIcon{ position:absolute; top:0; left:0; padding:11px 7px; z-index:9; color:#878787 !important;}
.login-forms .form-control{ border:none; border-radius:0; background:#f2f2f2; padding-left:30px; min-height:42px; box-shadow:none; position:relative;}

.login-forms input::-moz-placeholder {  /* Firefox 19+ */ opacity:0.7; font-family: 'Quicksand', sans-serif; font-size:12px; font-weight:300; color:#999999 !important;}
.login-forms input::-webkit-input-placeholder {  /* Firefox 19+ */ opacity:0.7; font-family: 'Quicksand', sans-serif; font-size:12px; font-weight:300; color:#999999 !important;}
.login-forms input:-ms-input-placeholder {  /* Firefox 19+ */ opacity:0.7; font-family: 'Quicksand', sans-serif; font-size:12px; font-weight:300; color:#999999 !important;}

.all-login-area .btn-area{ padding:0;}

.submitBtn {
  width: 45px;
  height: 45px;
  background: #e08e8e;
  border-radius: 100%;
  border: none;
  text-indent: -500px;
  overflow: hidden;
  transition: all 0.3s;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff !important;
  position: relative;
}
.submitBtn:hover{background: #c50025 !important; border-radius: 7px; width: 100px; transition:all 0.3s; text-indent:0px;}
.btn-area label{width: 45px; height: 45px; position:relative;}
.subIcon {position: absolute;top: 12px; left: 39%; color: #fff !important; font-size: 16px !important; z-index:1; transition:all 0.3s; }
.btn-area label:hover .subIcon{left: 165%; transition:all 0.3s;}
a.forgotpass{float: left; font-family: 'Quicksand', sans-serif; font-size:13px; font-weight:300; color:#868686; text-decoration:none; width: 40%; transition:all 0.3s; padding: 7px 0;}
a.forgotpass:hover{ text-decoration:none; color:#c50025; transition:all 0.3s;}

.singin{float: left; font-family: 'Quicksand', sans-serif; font-size:13px; font-weight:300; color:#868686; text-decoration:none; width: 60%; transition:all 0.3s; text-align:right;padding: 7px 0;}
.singin a{display: inline-block; font-family: 'Quicksand', sans-serif; text-decoration:none; color:#c50025; font-weight:500;}

.signUp{ padding:15px; position:relative; float:left; width:100%; box-sizing:border-box; display:none;}
.signUp p{font-size:18px; font-family: 'Cinzel', serif; text-transform:uppercase;  color:#da0029; font-weight:500; text-align:center;}
.signUp .login-forms{ padding-top:0px;}

.signUp .login-forms .form-control{ min-height:32px; padding-left:5px !important;}
.signUp select{font-family: 'Quicksand', sans-serif; font-size:12px; color:#999999; -webkit-appearance:none; -moz-appearance:none; appearance:none;
background-image:url(assets/images/downarrow.jpg) !important;
background-repeat:no-repeat !important;
background-position:95% !important;}


.upload-btn-wrapper { position: relative; overflow: hidden; display: inline-block; background:#f2f2f2; width: 100%;  min-height: 32px; cursor:pointer; }
.uploadbtn { border: none; color: gray; background-image:url(assets/images/upload.jpg) !important; background-repeat:no-repeat !important; background-position:95% !important;   padding: 8px 5px !important; border-radius: 0px; font-family: 'Quicksand', sans-serif; font-size:12px; color:#999999; width:100%; text-align:left; cursor:pointer; }
.upload-btn-wrapper input[type=file] { font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0; }
.signUp .btn-area label:hover .subIcon{left: 185%; transition:all 0.3s;}
.login-logo-area{ position:absolute; width:100%; top:0; left:0; z-index:9; text-align: center; padding: 30px;}
.login-foter-area{position:absolute; width:100%; bottom:0; left:0; z-index:9; text-align: center; padding:5px;}
.login-foter-area p{font-family: 'Cinzel', serif; font-size:14px; color:#fff; text-transform:uppercase; letter-spacing:8px;}


/*-----------------Navbar css -------------------------------*/
.myNavBar{ margin:0px; border:none; background:none; transition:all 0.5s; border-radius:0px; position: fixed;  z-index: 99999;}
.myNavBar:after{ content:''; position:absolute; width:0%; height:2px; left:0; bottom:0; background:#da032b;}


.myMenubar{ width:100%; position:relative; float:left; transition:all 0.2s;}
.logo{ position:relative; float:left; transition:all 0.2s; padding:10px 10px;}

.menuBar{position:relative; float:right; transition:all 0.2s; padding:10px 10px; margin-top: 10px;}
.menuBar a{ display:block; font-size:24px; color:#333;}

.sticky{ background:rgba(255,255,255,0.8); height: 70px;}
.sticky:after{ content:''; position:absolute; width:100%; height:2px; left:0; bottom:0; background:#da032b;}

.sticky .logo{transform: scale(0.7); top: -13px; left: -15px; }

    /* =*=*=*=*=*=*=*=*=*=*=   home page area css  =*=*=*=*=*=*=*=*=*=*=*/

/*-----------------home pagebanner css -------------------------------*/

#slideshow { width: 100%; margin: 0 auto; position: relative;}
.container-body{ width:100%; position:relative; /*background:#fcebbc; border-bottom:2px solid #da032b;*/}
.slider-contaner{width:100%; position:relative; /*background:#fcebbc;*/}
.slider{ width:100%; position:absolute; float:left; /* border:1px solid #000;*/}
.img-holder{ width:100%; position:relative; float:left; padding:100px 0 0; overflow:hidden;     margin-left: 70px;}
.imgDiv{ overflow:hidden;}

.thumbslider{ display:none; width:257px; height:141px; position:absolute; top:19%; right:14%; z-index:99; background: url(assets/images/overlay.png);}
.imgslidethumb{ width:259px; height:143px; position:absolute; top:21.5%; right:14%; overflow:hidden;}
.imgslidethumb:after{ content:''; width:259px; height:143px; position:absolute; top:0; left:0; background: url(assets/images/overlay.png);}

.scrollImg{background:url(assets/images/bgs.png); background-position: 0 0;
background-repeat: no-repeat;
width: 100%;
height: 600px;
position: relative;
-webkit-transition: flow 4s ease-out;
    -moz-transition: flow 4s ease-out;
    -o-transition: flow 4s ease-out;
    transition: flow 4s ease-out;
animation: flow 15s linear;
animation-fill-mode: forwards;
}

@keyframes flow {
  
  0%{background-position: 0 0;}
  10%{background-position: 0px 0px;}
  20%{background-position: 0px -100px;}
  30%{background-position: 0px -100px;}
  40%{background-position: 0px -200px;}
  50%{background-position: 0px -300px;}
  60%{background-position: 0px -300px;}
  70%{background-position: 0px -400px;}
  80%{background-position: 0px -400px;} 
  90%{background-position: 0px -500px;}
  100%{background-position: 0px -500px;}

}


.banner-text-content{ position:relative; float:left; width:120%; height:100%; padding-top:190px; z-index:99;}
.banner-text-content h3{ font-size:40px; width:440px; color:#000; font-family: 'Montserrat', sans-serif; font-weight:500; display:block; white-space: nowrap; overflow: hidden; animation: typing 5s steps(40, end) }

.banner-text-content h2{ font-size:60px; color:#d9c17f; font-family: 'Montserrat', sans-serif; font-weight:800; display:block; text-align:right; width: 300px; 
position:relative; right:-240px; white-space: nowrap; overflow: hidden; animation: typing 5s steps(40, end); animation-delay: 3s; }

.banner-text-content p{ font-size:20px; line-height:28px; position:relative; width:100%; padding-right:40px; color:#a19677; font-family: 'Montserrat', sans-serif; font-weight:400; display:block;}
.banner-text-content a{ text-decoration:none; font-size:14px; color:#fff; font-family: 'Montserrat', sans-serif; font-weight:400; display:inline-block; background:#000; padding:15px; margin-top:15px; transition:all 0.3s;}
.banner-text-content a:hover{background:#da032b; transition:all 0.3s;}

/*@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  0% { border-color: transparent; }
  100% { border-color: #f00; }
}


/*-----------------home page login and text area css -------------------------------*/

.content-area{ width:100%; position:relative; float:left; padding:30px 0;}
.login-area{ padding:50px 0; position:relative; float:left; width:100%;}
.login-area h3{font-size:15px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700; display:block; margin:0; padding:0; }
.login-area p{font-size:14px; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:500; display:block; margin:0; padding:10px 0 0; }

a.logsBtn{ display:inline-block; padding:10px 25px; border:1px solid #252525; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; font-size:11px; text-decoration:none; transition:all 0.5s; float:right; margin:10px 15px;}
a.logsBtn:hover{ background:#db0029; border:1px solid #db0029; transition:all 0.5s; color:#fff;}



.photographer-area{ clear:both; max-width:1600px; width:100%; margin:0 auto; position:relative; background:url(assets/images/phographBg.jpg) no-repeat; background-position:-280px 0px; min-height:560px;}

.photoSlider{ position:relative; float:left; width:100%; margin:70px 0;}
.potoslide{ width:90%; height:420px; position:relative; float:right; 
display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden}

.poto-txt-contener{position:relative; float:left; width:100%; margin:70px 0 0; padding-left:50px;}
.poto-txt-contener span{font-size:11px; text-transform:uppercase; color:#252525; letter-spacing:2px; font-family: 'Montserrat', sans-serif; font-weight:500; display:block; margin:0; padding:0px 0 0;}
.poto-txt-contener h3{font-size:21px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; line-height:32px; display:block; margin:25px 0 10px; padding:0; }
.poto-txt-contener p{font-size:14px; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:400; display:block; margin:0; padding:20px 0 30px; line-height:26px;}

.poto-txt-contener a.logsBtn{ margin:15px 10px; padding:10px 20px;}

.templete-design-area{clear:both; max-width:1600px; width:100%; margin: 50px auto; position:relative;}

.left-contener{ width:45%; position:relative; float:left;}

.templete-txt-contener{position:relative; float:left; width:100%; margin:70px 0 0; }
.templete-txt-contener span{font-size:11px; text-transform:uppercase; color:#252525; letter-spacing:2px; font-family: 'Montserrat', sans-serif; font-weight:500; display:block; margin:0; padding:0px 0 0;}
.templete-txt-contener h3{font-size:21px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; line-height:32px; display:block; margin:25px 0 10px; padding:0; }
.templete-txt-contener p{font-size:14px; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:400; display:block; margin:0; padding:20px 0 30px; line-height:26px;}
.templete-txt-contener a.logsBtn{ float:left; margin-left:0;}


.right-contener{ width:55%; position:relative; float:right;}
.templete-slider{ width:100%; position:relative; float:left; margin: 70px 0 0;}
.temple-slide-area{width:100%; position:relative; float:left; overflow:hidden; height:410px;}
.temple-slide-area ul{ position:absolute; margin:0; padding:0; width:100%; top:0; left:0;}
.temple-slide-area ul li{ list-style-type:none; float:left; position:relative; width:530px; height:410px; margin:0 20px; display:flex; justify-content: center;
    align-items: center;
    overflow: hidden;}
.temple-slide-area ul li a img{ max-width:100%; max-height:100%;}

.left_arrow{position:absolute; left:60px; top:-70px; width:25px; height:27px; background:#fff; text-align:center;}
.right_arrow{position:absolute; left:20px; top:-70px; width:25px; height:27px; background:#fff; text-align:center;}

.our-client-feedback-area{clear:both; max-width:1600px; width:100%; margin:0 auto; position:relative;}

.client-txt-contener{position:relative; float:left; width:100%; margin:70px 0 0; }
.client-txt-contener span{font-size:11px; text-transform:uppercase; color:#252525; letter-spacing:2px; font-family: 'Montserrat', sans-serif; font-weight:500; display:block; margin:0; padding:0px 0 0;}
.client-txt-contener h3{font-size:21px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; line-height:32px; display:block; margin:25px 0 10px; padding:0; }


.feedbakslider{ position:relative; float:left; width:100%; margin:50px 0; height: 470px;}
.client-area{ width:90%; margin:0 5%; position:relative; float:left; height:460px;}

.img-area{width:100%; margin:0; position:relative; float:left; background:#333; display:flex; justify-content: center; align-items: center; overflow: hidden; height:379px; cursor:pointer;}
.feedbakslider .slick-slide img {
    display: inherit !important;
    max-width: 100%;
    max-height: 100%;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  transition:all 0.5s;
}
.slick-slide:focus{ outline:none;}
.img-overlay{ position:absolute; width:100%; height:0%; background:rgba(0,0,0,0.3); top:0; left:0; z-index:9; transition:all 0.5s;}
a.viewMoreBtn{display:inline-block; padding:15px 25px; background:#fff; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; font-size:11px; text-decoration:none; transition:all 0.5s; position:absolute; top:-80px; left:calc(50% - 70px); transition:all 0.5s;}
a.viewMoreBtn:hover{ background:#db0029; transition:all 0.5s; color:#fff;}


.img-area:hover img{ 
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  transition:all 0.5s;}
.img-area:hover .img-overlay{height:105%; transition:all 0.5s;}
.img-area:hover .img-overlay a.viewMoreBtn{top:calc(50% - 20px); transition:all 0.5s; transition-delay:0.3s;}

.client-txt-area{ position:relative; float:left; width:100%; margin:20px 0; border-left:5px solid #333;  transition:all 0.5s;}
.client-txt-area h3{font-size:16px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:800; line-height:18px; display:block; margin:0px; padding:0 0 0 20px;  transition:all 0.5s;}
.client-txt-area p{font-size:12px; color:#252525; letter-spacing:3px; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:400; display:block; margin:0; padding:0 0 0 20px; line-height:26px;  transition:all 0.5s;}

.client-area:hover .client-txt-area {border-left:5px solid #db0029; transition:all 0.5s;}
.client-area:hover .client-txt-area h3{color:#db0029;  transition:all 0.5s;}
.client-area:hover .client-txt-area p{color:#db0029;  transition:all 0.5s;}


      /* =*=*=*=*=*=*=*=*=*=*=   home page area css end  =*=*=*=*=*=*=*=*=*=*=*/
      
      /* =*=*=*=*=*=*=*=*=*=*=  All pages footer area css  =*=*=*=*=*=*=*=*=*=*=*/

.footer-area{clear:both; max-width:1600px; width:100%; margin:0 auto; position:relative; min-height:350px; padding:50px 0;}
.price_area{ position:relative; float:left; width:100%; margin:20px 0 10px;}
.price_area .form-control{padding:5px 10px; height:42px; display:inline-block; width:50%; border-radius:0;}


.foter-txt-area{ position:relative; float:left; width:100%;}
.foter-txt-area h3{font-size:18px; color:#252525; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:600; line-height:22px; display:block; margin:0px; padding:10px 0;  transition:all 0.5s;}


.foter-txt-area ul{ position:relative; float:left; width:100%; margin:20px 0 0; padding:0;}
.foter-txt-area ul li { list-style-type:none; float:left; width:100%; margin:0; padding:0;}
.foter-txt-area ul li a{ display:block; font-size:13px; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:400; line-height:18px; padding:7px 0; text-decoration:none;transition:all 0.5s;}

.foter-txt-area ul li a:hover{color:#db0029;  transition:all 0.5s;}
.foter-txt-area ul li a:focus{color:#db0029;  transition:all 0.5s;}

.foter_contact_form{ position:relative; float:left; width:100%;  margin:27px 0 0;}
.foter_contact_form input.form-control{padding:5px 10px; height:42px; display:inline-block; border-radius:0; border:none; border-bottom:1px solid #ccc; box-shadow:none;}
.foter_contact_form textarea.form-control{padding:5px 10px; resize:none; display:inline-block; border-radius:0; border:none; border-bottom:1px solid #ccc; box-shadow:none;}

button.mysubmitBtn{display:inline-block; border-radius:0; padding:7px 20px; border:1px solid #000; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:400; text-transform:uppercase; font-size:13px;   transition:all 0.5s; background:#fff;}
button.mysubmitBtn:hover{background:#db0029; color:#fff;  transition:all 0.5s; border:1px solid #db0029;}

input.mysubmitBtn{display:inline-block; border-radius:0; padding:7px 20px; border:1px solid #000; color:#252525; font-family: 'Montserrat', sans-serif; font-weight:400; text-transform:uppercase; font-size:13px;   transition:all 0.5s; background:#fff;}
input.mysubmitBtn:hover{background:#db0029; color:#fff;  transition:all 0.5s; border:1px solid #db0029;}


/* =============== ****************** photographer wall feed page css start ************************* ==================== */

      /* ------------------- inner page header area start ----------------- */
      
.inner-myNavBar{ background:#efefef; border:none; height:55px;}
.innerlogo{ position:relative; float:left; transition:all 0.2s; padding:10px 0px;}

.seraching-area{ position:relative; float:left; width:100%; margin:10px 0;}
.seraching-area form{ margin:0;}
.seraching-area .form-group{ margin:0;}
.seraching-area .form-control{border: 1px solid #e9e9e9; font-family: 'Montserrat', sans-serif; font-weight:400; border-radius: 0; box-shadow: none; color: #000;}
.seraching-area .form-control:focus{ outline:none;}
.seraching-area input[type="submit"]{border-radius: 0; box-shadow: none; position:absolute; top:0; right:0; border:1px solid #d2d2d2; background:#d2d2d2 url(assets/images/magnifire.png) no-repeat center center; padding:5.5px 20px;}
.seraching-area input[type="submit"]:focus{outline:none;}

.after-login-option{ position:relative; float:left; width:100%; margin:10px 0 0;}
.after-login-option ul{ display:inline-block; float:right; padding:0; margin:0;}
.after-login-option ul li{ list-style-type:none; padding:0; margin:0 15px; float:left;}
.after-login-option ul li:last-child{ margin-right:0;}
.after-login-option ul li a{ display:block; text-decoration:none; padding:0; margin:0;}

.userPic{ width:38px; height:38px; border-radius:100%; float: left; overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;}
.userPic img{ max-width:100%;}
.nams{position: relative; float: left; padding: 10px 5px 5px; color:#000; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:12px;}

a.users{color: #cbcbcb; font-size: 20px; padding: 5px 0 !important; display: inline-block !important;}
a.users:hover, a.users:focus{color: #cbcbcb; outline:none;}

a.notification{color: #cbcbcb; position:relative; font-size: 20px; padding: 5px 0 !important; display: inline-block !important;}
a.notification:hover, a.notification:focus{color: #cbcbcb; outline:none;}
.notifi-alert {
    position: absolute;
    background: #db0029;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    top: -5px;
    right: -8px;
    line-height: 20px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.askBtn{color: #cbcbcb; position:relative; font-size: 20px; padding: 5px 0 !important; display: inline-block !important;}
a.askBtn:hover, a.askBtn:focus{color: #cbcbcb; outline:none;}
a.askBtn dd{ float:right; padding-left:5px; font-size:14px; margin-top:5px;}


      /* ------------------- inner page header area end ----------------- */

.main-container{ position:relative; float:left; width:100%; padding:20px 0; min-height:350px; margin-top:55px;}

.left-side-bar{ position:relative; float:left; width:105%; min-height:250px; margin-left: -15px !important;}
.left-side-bar ul.leftmenu{ position:relative; float:left; width:100%; padding:0; margin:0;}
.left-side-bar ul.leftmenu li{ position:relative; float:left; list-style-type:none; width:100%; padding:0; margin:0;}
.left-side-bar ul.leftmenu li a{ text-decoration:none; display:block; padding:8px 0; margin:0; font-family: 'Montserrat', sans-serif; font-weight:500; font-size:13px; color:#aaa9a9;transition: all 0.3s;}
.left-side-bar ul.leftmenu li a dd{ float:left; padding-right:10px; margin-top: 3px; transition: all 0.3s;}
.left-side-bar ul.leftmenu li a:hover{color:#000; transition: all 0.3s;}
.left-side-bar ul.leftmenu li a:hover dd{color:#db0029; transition: all 0.3s;}
a.active{color:#000 !important;}
a.active dd{color:#db0029;}

.advertise-area{position:relative; float:right; width:100%; min-height:250px; margin-right: -15px !important;}
.advertise-area ul{ position:relative; float:left; width:100%; padding:0; margin:0;}
.advertise-area ul li{ position:relative; float:left; list-style-type:none; width:100%; padding:0; margin:0 0 20px;}
.advertise-area ul li a{ text-decoration:none; display:block; padding:5px; text-align:center; margin:0; background:#fff; box-shadow:0px 1px 7px rgba(0,0,0,0.2);}


.main-center-container{ position:relative; float:left; width:100%; min-height:350px;}
.step-area{ position:relative; float:left; width:100%;}
h2.step-heads{font-family: 'Montserrat', sans-serif; font-weight:600; font-size:12px; color:#000; background:#e5e4e4; padding:10px 15px; width:100%; margin:0; text-transform:uppercase;}

.step-by-step-area{ position:relative; float:left; width:100%; padding:15px 0;}
.step-by-step-area .steps ul li a{ background:none !important; padding:0; border-radius:0; font-family: 'Montserrat', sans-serif; font-weight:400; font-size:12px; text-align:center;color:#bfbfbf; position:relative;}
.step-by-step-area .steps ul li a:after{ content:''; position:absolute; width:100%; height:1px; background:#bfbfbf; top: 9px;  left: 53%; z-index: 1;}
.step-by-step-area .steps ul li:last-child a:after{ content:''; display:none;}
.step-by-step-area .steps a:hover{ padding:0;}

.current a{color: #db022b !important; font-weight:600 !important;}
.done a{color: #db022b !important; font-weight:600 !important;}

.current .number{background: #db022b !important;}
.done .number{background: #db022b !important;}

.step-by-step-area .wizard > .steps .number { position:relative; z-index:12;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
    float: none;
    margin: 0 auto 5px;
    background: #bfbfbf;
    border: none;
    color: #fff;
    border-radius: 100%;
}

.step-by-step-area .wizard > .content{ min-height:100px; background:none;}
.step-by-step-area .wizard > .content > .body { height: auto; position: relative; background: none; width: 100%; padding: 15px 0; }
.step-by-step-area .actions ul li a{background: none; color: #db022b; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:14px; padding:3px 10px; border-radius: 0; transition: all 0.3s;}
.step-by-step-area .actions ul li a:hover{background: #db022b; color: #fff; padding:3px 10px; border-radius: 0; transition: all 0.3s;}
.step-by-step-area .disabled a{background: none !important;}

.details-area { position: relative; float: left; width: 100%;}
.details-area form{ display: block; width: 100%; float: left; margin: 0;}
.details-area .form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0;}
.details-area .form-control:focus{border: 1px solid #d0d0d0 !important;  border-radius: 0; outline:none; box-shadow:none;}


.album-creation-area{ position:relative; float:left; width:100%; min-height:150px;}
.album-creation-area form{ display: block; width: 100%; float: left; margin: 0;}
.album-creation-area .form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0;}
.album-creation-area .form-control:focus{border: 1px solid #d0d0d0 !important;  border-radius: 0; outline:none; box-shadow:none;}
input.dotcom { position: absolute; top: 0; right: 15px; padding: 7px 15px; font-family: 'Montserrat', sans-serif; font-weight:500; color:#858585; background: #f3f3f3; font-size: 13px;}
input.dotcom:focus{ outline:none;}

.album-creation-view-area{ position:relative; /*float:left;*/ margin:0 auto; width:96%; min-height:150px;}

.templete-view{ width:98%; margin:0 1%; overflow:hidden; color:#fff; float:left; position:relative; height:125px; background:#333; display: flex; justify-content: center; align-items: center;}
.templete-view img{ max-width:100%;}
.albumdesign{ position:relative; float:left; width:100%;}
.albumdesign .slick-slide{ height:auto;}
a.rightarrows {
    position: absolute;
    top: 40%;
    right: -14px;
    font-size: 30px;
    color: #cecdcd !important;
}

a.leftarrows {
    position: absolute;
    top: 40%;
    left: -14px;
    font-size: 30px;
    color: #cecdcd !important;
}

.overlay_div{ position:absolute; width:100%; height:0%; top:0; left:0; background:rgba(0,0,0,0.5); transition: all 0.4s;}
a.viewBtn{padding: 6px 12px; background: #fff; margin: 0 4px; font-family: 'Montserrat', sans-serif; font-weight: 400 !important; font-size: 11px; color: #272727 !important; display: inline-block; text-transform:uppercase; text-decoration:none; transition: all 0.4s; position: relative; top:45px;}
.overlay_div a:nth-child(2){ left:300px;}
.overlay_div a:nth-child(1){ left:-300px;}
a.viewBtn:hover {
    background: #db0029;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.4s;
}

.templete-view:hover .overlay_div{height:100%; transition: all 0.4s;}
.templete-view:hover a.viewBtn{left:8px; transition: all 0.4s;}


.img-vid-upload-area{position:relative; float:left; width:100%;}
.upload-btn-img-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  overflow:hidden;
}

.upload-btn-img-wrapper .btn {
    border: 1px dashed #505050;
    color: #505050;
    padding: 0;
    border-radius: 5px;
    font-size: 12px;
    height: 120px;
  width: 100%;
  padding-top: 60px;
  background:url(assets/images/upload-img-icon.png) no-repeat center center;
  font-family: 'Montserrat', sans-serif; font-weight:500;
}

.upload-btn-img-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-vid-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  overflow:hidden;
}

.upload-btn-vid-wrapper .btn {
    border: 1px dashed #505050;
    color: #505050;
    padding: 0;
    border-radius: 5px;
    font-size: 12px;
    height: 120px;
  width: 100%;
  padding-top: 60px;
  background:url(assets/images/upload-vid-icon.png) no-repeat center center;
  font-family: 'Montserrat', sans-serif; font-weight:500;
}

.upload-btn-vid-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.img-vid-upload-area .form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0;}
.img-vid-upload-area .form-control:focus{border: 1px solid #d0d0d0 !important;  border-radius: 0; outline:none; box-shadow:none;}


.payment-area{ position:relative; float:left; width:100%;}
.payment-option-list{ width:25%; position:relative; float:left;}
.payment-option-list ul{ position:relative; float:left; width:100%; padding:0; margin:0; min-height: 200px;}
.payment-option-list ul li{ list-style-type:none; float:left; margin:0; padding:0; width:100%;}
.payment-option-list ul li a{ text-decoration:none; display:block; padding:10px 5px 10px 30px; margin:0; color:#999999 !important; font-family: 'Montserrat', sans-serif; font-weight:500 !important; font-size:13px; position:relative;}
.payment-option-list ul li a:after{ content:''; position:absolute; width:12px; height:12px; border:1px solid #b8b8b8; top:12px; left:10px; border-radius: 100%;}
.payment-option-list ul:after{ content:''; position:absolute; width:5px; height:138px; background:url(assets/images/divider.png) no-repeat; top:70px; right:0; border-radius: 100%;}

.payment-content-area{ width:50%; position:relative; float:left; padding:10px; box-sizing: border-box;}
.payment-content-area:after{ content:''; position:absolute; width:5px; height:138px; background:url(assets/images/divider.png) no-repeat; top:70px; right:0; border-radius: 100%;}
.left_area_txt{ display:none; position:relative; float:left; width:100%;}
.current{ display:inherit;}
.payment-option-list ul li a.current{background: #efefef url(assets/images/payDivider.png) no-repeat top right; color: #000 !important;}
.content-tabs{position:relative; float:left; width:100%;}
.content-tabs p{color:#333; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:11px; display:block; text-align:center; padding:0; margin:0;}
.content-tabs span{display:block; text-align:center; padding:0; margin:0;}

.crd-details{position:relative; float:left; width:100%; margin:20px 0 0;}
.crd-details .form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0;}
.crd-details .form-control:focus{border: 1px solid #d0d0d0 !important;  border-radius: 0; outline:none; box-shadow:none;}
input.cardBtn {position: relative; float: left; width: 100%; border: none; background: #db022b; color: #fff; font-size: 12px; text-transform: uppercase; padding: 10px; font-family: 'Montserrat', sans-serif; font-weight:600;}

.payment-number-area{width:25%; position:relative; float:right; padding: 13px 10px;}
.payment-number-area p{color:#000; font-family: 'Montserrat', sans-serif; font-weight:500; font-size:13px; display:block; text-align:center; padding:0; margin:0 0 10px;}
.payment-number-area h3{color:#de1539; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:21px; display:block; text-align:right; padding:0; margin:0;}

/* ------------------- photographer wall feed area css start ----------------------------- */

.photographer-feeds-area{ position:relative; float:left; width:100%; min-height:250px;}
.feeds-block-area {
  position: relative;
  float: left;
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
  padding: 10px;
}
.photographer-pics-area{position:relative; float:left; width:100%; margin-bottom:5px;}
.photographer-pics-area .pics{  width:38px; height:38px; border-radius:100%; float: left; overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;}
.photographer-pics-area img{ max-width:100%;}
.photographer-pics-area .nams{position: relative; float: left; padding: 10px 5px 5px 15px; color:#000; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:13px;}
.photographer-pics-area .nams span{ display:inline-block; padding-left:10px; color:#999;}

.photographer-comemt-area{position:relative; float:left; width:100%; margin-bottom:5px;}
.photographer-comemt-area a{ text-decoration:none; display:inline-block; float:left; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:12px; padding:3px 10px; color:#999; text-transform:uppercase;}
.photographer-comemt-area a i.fa{font-weight:bold; font-size:14px; padding-right:10px;}

.photograph-image-area{position:relative; float:left; width:100%; margin-bottom:5px;}
.photograph-image-area ul{ width:100%; padding:0; margin:0; float:left;}
.photograph-image-area ul li{ list-style-type:none; float:left; margin:0; padding:0;  height:340px;overflow: hidden;  display: flex;
    justify-content: center;
    align-items: center;}
.photograph-image-area ul li a{ text-decoration:none; width:100%; }
.photograph-image-area ul li a img{ max-width:100%;}

/* some special css */
.singleImg li{ width:100%;}

.doubleImg li{ width:49%; margin-right:1% !important;}

.threeImg li{ width:49%; margin-right:1% !important; height:175px !important;}
.threeImg li:first-child{ width:100%; margin-right:0 !important; height:175px !important;  margin-bottom:1%;}
.threeImg li:last-child{ width:50%; margin-right:0 !important; height:175px !important;  margin-bottom:1%;}

.forthImg li{ width:49%; margin-right:1% !important; height:175px !important; margin-bottom:1% !important;}

.fihthImg li{ width:49%; margin-right:1% !important; height:175px !important; margin-bottom:1% !important;}
.fihthImg li:last-child a{ background:#000;}
.fihthImg li:last-child a img{ opacity:0.5;}
.counter{ position:absolute;  font-family: 'Montserrat', sans-serif; font-weight:600; font-size:50px; color:#fff; z-index:9;}


.sixthImg li{ width:32.33%; margin-right:1% !important; height:175px !important; margin-bottom:1% !important;}
.sixthImg li:last-child a{ background:#000;}
.sixthImg li:last-child a img{ opacity:0.5;}



                    /* ================================= choose photographer page css start  ==============================*/ 
          
.photographer-banner{ width:100%; position:relative; float:left; min-height:280px; background:#f3f3f3; margin-top:55px;}
.photographer-banner h3{font-family: 'Montserrat', sans-serif; font-weight:400; font-size:50px; text-transform:uppercase; color:#252525; margin:0; padding:70px 0 0;}
.photographer-banner p{font-family: 'Montserrat', sans-serif; font-weight:400; font-size:13px; color:#727272; margin:0; padding:20px 0 0;}

.search-area{ position:relative; float:left; width:100%; margin:0 0 15px;}
.search-area input.form-control{height: 50px; border-radius: 0; box-shadow: none; border: 1px solid #e0e0e0; position: relative; background:url(assets/images/magnifire2.png) no-repeat 95% 16px;}

.buget-area{ position:relative; float:left; width:100%; margin:0 0 15px;}
h2.subHead-sidebar{font-family: 'Montserrat', sans-serif; font-weight:600; font-size:14px; letter-spacing:3px; border-bottom:1px solid #ddd; text-transform:uppercase; color:#252525; margin:0; padding:10px 0 20px;}
.range-slider{position:relative; float:left; width:100%; margin:5px 0 25px;}

.range-slider p{font-family: 'Montserrat', sans-serif; font-weight:400; font-size:13px; color:#727272; margin:0; padding:0px 0 20px;}
.range-slider p span{ display:inline-block; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:13px; padding:0 7px; color:#db0029;}
.range-slider .ui-slider-horizontal {
    height: 2px;
}
.range-slider .ui-widget-content {
    border: none;
    background: #cbcbcb;
}
.range-slider .ui-widget-header {
    background: #db0029;
}

.range-slider .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -.6em;
}

.range-slider .ui-state-default, .range-slider .ui-widget-content .ui-state-default, .range-slider .ui-widget-header .ui-state-default, .range-slider .ui-button, html .range-slider .ui-button.ui-state-disabled:hover, html .range-slider .ui-button.ui-state-disabled:active{    border: none;
    background: #db0029;
    font-weight: normal;
    color: #454545;
    border-radius: 100%;}

.sidebar-rating-area {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 15px;
}

.sidebar-rating-area .show-rating{margin:20px 0 15px;}
.sidebar-rating-area span.stars{    font-size: 20px;}
.map_area{position:relative; float:left; width:100%; margin:5px 0 25px; height:220px;}
.map_area iframe{ width:100%;}

.photographer-listing-area{ position:relative; float:left; width:100%; margin:0 0 15px;}
.photographer-listing-area ul{ position:relative; float:left; width:100%; margin:0; padding:0;}
.photographer-listing-area ul li{ width:25%; position:relative; float:left; margin:0 0 25px; padding:0; list-style-type:none; min-height:310px;}
.ph-list-area{ width:90%; margin:0 5%; position:relative; float:left; min-height:150px;}

.ph-list-area-img{width:100%; margin:0; position:relative; float:left; height:195px; display: flex; justify-content: center; align-items: center; overflow: hidden;}
.ph-list-area-img img{ max-width:100%;}

h2.ph-name{ float:left; width:100%; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:15px; letter-spacing:1px; text-transform:uppercase; color:#252525; margin:0; padding:10px 0 10px; height:35px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.star-rating{ position:relative; float:left; width:100%;}
span.stars{ position:relative; float:left; padding:3px 1px; color:#d3d3d3;}
.reviewstart{color:#de1d41 !important;}
.show-rating{position:relative; float:left; width: auto; padding:2px 10px 2px 0;}

.album-counter{position:relative; float:left; width: auto; padding:2px 5px 2px 10px; border-left:1px solid #d3d3d3;}
.album-counter p{font-family: 'Montserrat', sans-serif; display:block; font-weight:500; font-size:13px; color:#4e4e4e; margin:0; padding:0px 0 0;}
.album-counter p span{font-family: 'Montserrat', sans-serif; display:inline-block; font-weight:500; font-size:13px; color:#4e4e4e; margin:0; padding:0px 0 0;}

.button-area{ position:relative; float:left; width:100%;}
a.myBtn{ display: inline-block;
    border: 1px solid #d3d3d3;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #898989;
    margin: 10px 0; transition: all 0.3s;}
a.myBtn:hover, a.myBtn:focus{ background:#de1d41; color:#fff; border: 1px solid #de1d41; transition: all 0.3s; outline:none;}


.nomargin{ margin:0 !important;}

.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}


#contactmyModal .modal-dialog{ width:450px;}
#contactmyModal .modal-content{border-radius: 0;}
#contactmyModal .modal-header { padding: 10px 15px; border-bottom: none; background: #de1d41; }
#contactmyModal .modal-title { margin: 0; line-height: 1.42857143; text-align: center; color: #fff; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-weight:600; font-size:22px; }
#contactmyModal .close{color: #fff; opacity: 1;}
#contactmyModal .modal-body p{font-family: 'Montserrat', sans-serif; display:block; font-weight:300; font-size:12px; color:#252525; margin:0; padding:10px 0; text-transform: uppercase; letter-spacing:2px; text-align:center;}

#contactmyModal .modal-body { position: relative; padding: 15px; float:left; width:100%; background: #fff;}
.contact-popup-form{position:relative; float:left; width:100%; padding:10px 30px;}
.contact-popup-form .form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0; }
.contact-popup-form .form-control:focus{border: 1px solid #d0d0d0 !important;  border-radius: 0; outline:none; box-shadow:none;}
.contact-popup-form textarea.form-control{border: 1px solid #d0d0d0 !important;  border-radius: 0; min-height:150px; resize:none;}
.contact-popup-form input.cardBtn{float: right; width: auto; background: #fff; color: #db022b; border: 1px solid #db022b; padding:10px 25px;}


.pop-form-width20{ width:20%; margin-right:10px;}
.pop-form-width10{ width:15%; margin-right:10px;}
.pop-form-width80{ width:58%; float:right;}





/* ===================== Choose-templates css start(Sayan)  ====================== */
.templates-listing-area{
  float: left;
  width: 100%;
  position: relative;
}
.templates-listing-area ul{
  margin: 0;
  padding: 0;
}
.templates-listing-area ul li {
  float: left;
  width: 50%;
  padding: 0 15px;
  list-style: none;
  margin-bottom: 30px;
}
.single-template{
  float: left;
  width: 100%;
}
.temp-image {
  width: 100%;
  overflow: hidden;
  height: 257px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #dfdfdf;
}
.temp-caps{
  float: left;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.temp-caps h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #252525;
  text-transform: uppercase;
  margin: 0;
}
.template-butns {
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: -100% !important;
  position: absolute;
  cusror: pointer;
  z-index: 99;
  transition-duration: 0.4s;
}
.template-butns a {
  padding: 6px 12px;
  background: #fff;
  margin: 0 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #272727;
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  top: -30px;
}
.template-butns a:hover{
  background: #db0029;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.temp-image:hover .template-butns{
  display: block;
  top: 0 !important;
  transition-duration: 0.4s;
}
.temp-image:hover .template-butns a{
  top: 115px;
  transition: all 0.7s;
}
.temp-image:hover .template-butns a.pops-snd{
  transition: all 1s;
}

/************Check-box***********************/
.tempalate-catagory {
  margin: 20px 0 0 0;
}
.tempalate-catagory ul{
  margin: 0;
  padding: 0;
}
.tempalate-catagory ul li{
  list-style: none;
}
.tempalate-catagory ul li ul{
  padding-left: 20px;
}
/* The container */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
}

/* Hide the browser's default checkbox */
.tempalate-catagory ul li input[type="checkbox"] {
    position: absolute;
    display: none;
    cursor: pointer;
  left: 0;
  top: -1px;
  z-index: 99;
  width: 100%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.tempalate-catagory ul li:hover input[type="checkbox"] + label .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.tempalate-catagory ul li input[type="checkbox"]:checked + label .checkmark {
  background-color: #e0344e;
  border-color: transparent;
}
.tempalate-catagory ul li input[type="checkbox"]:indeterminate + label .checkmark:after{background-color: #ff0; width: 15px; height: 15px;}
/* .tempalate-catagory ul li input[type="checkbox"]:indeterminate + label .checkmark {
  background-color: #ff0;
  border-color: transparent;
  content: '-';
} */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark {
   /* position: relative;
   display: inline-block;
   float: left;
   margin-right: 0px; */
}

/* Show the checkmark when checked */
/* .tempalate-catagory ul li input[type="checkbox"]:checked + label .checkmark:after {
    display: block;
    content: '-';
    color:#f00;
} */

/* .tempalate-catagory ul li input[type="checkbox"]::indeterminate + label .checkmark:after {
    display: block;
} */
/* Style the checkmark/indicator */
.tempalate-catagory ul li label .checkmark::after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 99;
}
.tempalate-catagory ul li input[type="checkbox"]:indeterminate + label .checkmark::before{
   left: 0px;
  top: 1px;
  width: 5px;
  height: 1px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 99;
  position: absolute;
}
/********************************************/
/****************Modal****************/
.my-send-modal .modal-header {
  background: #e0344e;
  position: relative;
  text-align: center;
  border-bottom: none;
}
.my-send-modal .modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 16px;
  top: 9px;
  opacity: 1;
  text-shadow: none;
  color: #fff;
  font-size: 34px;
  font-weight: 300;
}
.my-send-modal .modal-header h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.my-send-modal .modal-dialog {
  width: 420px;
}
.my-send-modal .modal-content {
  border-radius: 0;
}
.modal-body {
    position: relative;
    padding: 15px;
    float: left;
    width: 100%;
    background: #fff;
}
/****************Modal****************/
/* ===================== Choose-templates page css end(Sayan) ====================== */

    /* =*=*=*=*=*=*=*=*= notification page css start =*=*=*=*=*=*=*=*=**= */
    
h2.headings{font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 16px;  position:relative; color:#000; text-transform:uppercase; letter-spacing:1px; border-bottom:1px solid #ccc; padding:10px 0 15px;}

.notification-area{ position:relative; float:left; width:100%; margin:0; padding:0; min-height:250px;}
ul.notifylist{ position:relative; float:left; width:100%; padding:0; margin:0;}
ul.notifylist li{ list-style-type:none; float:left; width:100%; padding:10px; margin:0; border-bottom:1px solid #dcdcdc;     transition: all 0.3s;}
ul.notifylist li a{ text-decoration:none; float:left; display:block; width:100%;}
ul.notifylist li:hover{background: #efefef;     transition: all 0.3s;}
.notifTxt{ width:calc(100% - 45px); float:right; min-height:38px; display: inline-grid; justify-content: start; align-items: center;}
.notifTxt p {font-family: 'Montserrat', sans-serif; color:#616161; font-weight: 500; font-size: 12px; margin:0; width:100%; }
.notifTxt p abbr{ color:#161616; font-weight: 600; padding:0 3px;}
.notifTxt span.times{ font-family: 'Montserrat', sans-serif; color:#616161; font-weight: 400; font-size: 11px; margin:0; padding:0 3px; }

/* ===================== chat ====================== Sayan ================= */
.chaat-list{
  float: left;
  width: 25%;
  background: #f5f5f5;
  border-right: 1px solid #ccc;
}
.chat-box{
  float: left;
  width: 55%;
  background: #f5f5f5;
}
.chat-related-image{
  float: left;
  width: 20%;
  background: #f5f5f5;
  border-left: 1px solid #ccc;
}
.chat-search-wrapper{
  padding: 15px;
  float: left;
  width: 100%;
}
.chat-search{
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #dfdfdf;
  height: 35px;
}
.chat-search form{
  margin: 0;
}
.chat-search input[type="text"] {
  float: left;
  width: 82%;
  border: none;
  padding-left: 10px;
  height: 33px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.chat-search button[type="submit"] {
  float: right;
  height: 33px;
  border: none;
  background: transparent;
  color: #a9a9a9;
}
.tab-butn {
  float: left;
  width: 100%;
  margin: 15px 0
}
.tab-butn a {
  float: left;
  width: 50%;
  padding: 10px 13px;
  border-right: 1px solid #dfdfdf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #5f5f5f;
  display: inline-block;
}
.tab-butn a:last-child{
  padding-right: 0;
  border-right: 0;
}
.tab-butn a i {
  color: #db022a;
  margin-right: 6px;
}
.tab-butn a:hover{
  text-decoration: none;
  color: #db022a;
}
.chat-visible-list {
  float: left;
  width: 100%;
}
.chat-visible-list ul {
  margin: 0;
  padding: 0;
}
.chat-visible-list ul li {
  padding: 5px 15px;
  margin: 5px 0;
  list-style: none;
  float: left;
  width: 100%;
}
.chat-visible-list ul li a{
  display: block;
}
.chat-visible-list ul li:hover, .chat-visible-list ul li.current-chat-item{
  background: #e6e6e6;
}
.sort-pf-wrapper {
  float: left;
  width: 100%;
}
.pf-photo {
  height: 36px;
  width: 36px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
  margin-right: 15px;
}
.pf-desc h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
}
.pf-desc p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #5f5f5f;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-box-head{
  float: left;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.chat-box-head h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.chat-box-head p{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #5f5f5f;
  font-weight: 300;
  margin: 0;
}
.live-chat-area {
  width: 100%;
  float: left;
  height: 490px;
  padding: 15px 0 15px 15px;
}
.chat-field {
  padding-right: 15px;
}
.user{
  float: left;
  width: 100%;
  margin: 10px 0;
}
.user-img{
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.user-msg {
  float: left;
  width: calc(100% - 50px);
}
.user-msg h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #252525;
  padding: 10px;
  background: #e7e7e7;
  display: inline-block;
  border-radius: 0 7px 7px 7px;
}
.user-msg p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  margin: 0;
}
.user-msg p span{
  display: inline-block;
  margin: 5px;
}
.client {
  float: right;
  width: 100%;
  text-align: right;
  margin: 10px 0;
}
.client-img{
  float: right;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.client-msg {
  float: right;
  width: calc(100% - 50px);
}
.client-msg h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding: 10px;

  background: #e8687f;
  display: inline-block;
  border-radius: 7px 0px 7px 7px;
}
.client-msg  p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  margin: 0;
}
.client-msg  p span{
  display: inline-block;
  margin: 5px;
}
.client-msg  p span:last-child{
  margin-right: 0;
}
.user-msg p span:first-child{
  margin-left: 0;
}
.chat-related-head {
  float: left;
  width: 100%;
  padding: 17.5px 10px;
}
.shared-photo-section{
  float: left;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.shared-photo-section h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5f5f5f;
  padding: 0 15px;
  margin-bottom: 15px;
}
.shared ul {
  margin: 0;
  padding: 0;
}
.shared ul li {
  list-style: none;
  float: left;
  width: 50%;
  padding: 5px;
}
.shared ul li a {
  height: 87px;
  width: 88px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-write-wrapper {
  float: left;
  width: 100%;
  padding-right: 15px;
}
.chat-write-field {
  float: left;
  width: 100%;
}
.chat-write-field input[type="text"] {
  float: left;
  width: 86%;
  height: 40px;
  border: none;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: transparent;
}
.chat-write-field {
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
}
.chat-write-field input[type="submit"] {
  float: right;
  background: none;
  border: none;
  padding: 9px 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #db022a;
  text-transform: uppercase;
}
.list-chat-wrapper {
  float: left;
  width: 100%;
}
.pf-desc {
  float: right;
  width: calc(100% - 51px);
}


.tab-butn a.activeTab{ background:#db022a; color:#fff;}
.tab-butn a.activeTab i{color:#fff;}
.follwstab{ display:none;}
.activeTab{ display:inherit;}


/* ===================== chat ====================== */
/* ===================== Album ====================== */
.album-head{
  float: left;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
.album-head h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #de1e42;
}
.album-head h3 span{
  display: inline-block;
  color: #747474;
  margin-left: 20px;
}
.album-wrapper ul {
  margin: 0;
  padding: 0;
}
.album-wrapper ul li {
  list-style: none;
  float: left;
  width: 25%;
  padding: 2px;
}
.album-wrapper ul li a {
  overflow: hidden;
  display: flex;
  border: 1px solid #dfdfdf;
  width: 100%;
  height: 154px;
  justify-content: center;
  align-items: center;
}

/* ===================== reviews and ratings ====================== */
.rvw-ratings-container{
  float: left;
  width: 100%;
  position: relative;
}
.single-rvws{
  float: left;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
}
.single-rvws:last-child{
  border-bottom: none;
}
.rvw-desc {
  float: left;
  width: 100%;
  margin-top: 5px;
}
.rvw-desc p{
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #727272;
  line-height: 20px;
}
.cmnt-share{
  float: left;
  width: 100%;
  text-align: right;
}
.cmnt-share a{
  display: inline-block;
  padding: 0 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #de1d41;
  text-transform: uppercase;
}
.cmnt-share a span{
  display: inline-block;
}
/* ===================== reviews and ratings ====================== */

/* ===================== myfollowing ====================== */
.my-followings-area{
  float: left;
  width: 100%;
  position: relative;
}
.my-followings-area ul{
  margin: 0;
  padding: 0;
}
.my-followings-area ul li{
  list-style: none;
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-top: 20px;
}
.single-follow{
  float: left;
  width: 100%;
  overflow: hidden;
}
.follow-images {
  display: flex;
  width: 100%;
  border: 1px solid #dfdfdf;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.follow-images img{
  max-height: 100%;
  max-width: 100%;
}
.follow-desc h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.follow-desc p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #898989;
}
.follow-desc p span{
  display: inline-block;
}
.following-butn{
  padding: 9px 16px;
  color: #434343;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline-block;
  background: #dfdfdf;
  text-transform: uppercase;
  transition: all 0.4s;
}
.following-butn:hover{
  background: #de1d41;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.single-follow .follow:hover{
  background: #dfdfdf;
  color: #434343;
}
/* ===================== myfollowing ====================== */

/* ===================== myfiles ====================== */
.my-files-area{
  float: left;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.my-files-area ul{
  margin: 0;
  padding: 0;
}
.my-files-area ul li{
  list-style: none;
  padding: 0 10px;
  margin-top: 15px;
  width: 16.66%;
  float: left;
}
.my-files-area ul li a {
  overflow: hidden;
  height: 105px;
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 22px 8px 8px 8px;
  text-align: center;
  transition: all 0.4s;
}
.my-files-area p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #737373;
  margin: 3px 0 0 0;
  line-height: 10px;
}
.my-files-area ul li a i {
  font-size: 38px;
  color: #cbcbcb;
}
.my-files-area ul li a:hover{
  border-color: #9a9a9a;
  text-decoration: none;
}
/* ===================== myfiles ====================== */

/* ===================== photographer-profile ====================== */
.photographer-banner-section {
  float: left;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 54px;
}
.photographer-sort-details-wrapper {
  float: left;
  width: 50%;
  padding-top: 153px;
  padding-bottom: 45px;
}
.photographer-dp {
  height: 133px;
  width: 133px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 15px;
}
.photographer-review {
  float: right;
  width: calc(100% - 148px);
  padding-top: 34px;
}
.photographer-review h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.photographer-review h5 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #bbbbbb;
  padding: 8px 15px;
  background: rgba(255,255,255,0.1);
  margin: 8px 0px;
}
.photographer-review h5 span{
  display: inline-block;
}
.photographer-contact {
  float: right;
  width: calc(100% - 50%);
  text-align: right;
  position: relative;
  top: 210px;
}
.photographer-contact a {
  display: inline-block;
  margin: 0 5px;
}
.photographer-contact a:last-child{
  margin-right: 0;
}
.follow {
  display: inline-block;
  padding: 8px 16px;
  background: #de1d41;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.contact{
  display: inline-block;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}
.follow:hover{
  border-color: #fff;
  background: transparent;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.contact:hover{
  border-color: transparent;
  background: #de1d41;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.my-picture-section {
  float: left;
  width: 100%;
  position: relative;
  background: #fff;
  padding: 10px;
  box-shadow:2px 1px 10px rgba(0,0,0,0.15);
}
.my-picture-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}
.picture-wrapper {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.picture-wrapper ul {
  margin: 0;
  padding: 0;
}
.picture-wrapper ul li {
  list-style: none;
  float: left;
  width: 33.33%;
  padding: 2px;
}
.picture-wrapper ul li a {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 67px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}
.vew-butn{
  float: left;
  width: 100%;
  margin-top: 15px;
}
.vew-butn .follow:hover{
  border-color: #000;
  color: #000;
}
.profile-album-list{
  float: left;
  width: 100%;
  box-shadow:2px 1px 10px rgba(0,0,0,0.15);
  margin-top: 30px;
}
.profile-album-list  .chat-visible-list ul li{
  float: left;
  width: 33.33%;
  overflow: hidden;
}
.profile-album-list  .chat-visible-list ul li {
  padding: 5px 8px;
}
.profile-album-list .chat-visible-list ul li a .sort-pf-wrapper .pf-photo {
  float: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.profile-album-list .chat-visible-list ul li a .sort-pf-wrapper .pf-desc {
  float: right;
  width: 100%;
  text-align: center;
}
.profile-album-list .chat-visible-list ul li a .sort-pf-wrapper .pf-desc h4 {
  font-size: 10px;
  margin-top: 5px;
}
.photographer-profile-reviews {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  box-shadow: 2px 1px 10px rgba(0,0,0,0.15);
}
.photographer-desc {
  float: left;
  width: 100%;
  margin-top: 5px;
}
.photographer-desc p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #727272;
}
.photographer-desc p span{
  color: #2f2f2f;
  display: inline-block;
}
.single-review {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* ===================== photographer-profile ====================== */
/* ===================== photographer-profile_v2 ====================== */
.wrapper2{
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 100px 0 !important;
}
.photographer-dp.new-dp2 {
  float: none !important;
  margin: 0 auto;
}
.profile-review2{
  float: right;
  width: 100%;
  padding-top: 34px;
}
.profile-review2 .star-rating .show-rating {
  width: 100% !important;
}
.profile-review2 .star-rating .show-rating span.stars {
  position: relative;
  float: none !important;
  padding: 3px 1px;
  color: #d3d3d3;
  display: inline-block !important;
}
.dp-wrapper{
  position: relative;
}
.follow-link {
  position: absolute;
  left: calc(50% - 216px);
  bottom: 39px;
}
.contact-link {
  position: absolute;
  right: calc(50% - 215px);
  bottom: 38px;
}
.follow-link a {
  width: 30px;
  height: 30px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  padding-top: 8px;
  text-align: center;
  color: #3d3d3d;
  margin-left: 20px;
}
.follow-link p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 12px;
}
.contact-link a{
  width: 30px;
  height: 30px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  padding-top: 8px;
  text-align: center;
  color: #3d3d3d;
  margin-right: 20px;
}
.contact-link p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 12px;
}
/* ===================== photographer-profile_v2 ====================== */
/* ===================== My orders ====================== */
.my-orders-wrapper-sec{
  float: left;
  width: 100%;
  position: relative;
}
.my-orders-wrapper-sec table.table-area{
  border: 1px solid #ccc;
}
.my-orders-wrapper-sec table.table-area tr th{
  padding: 8px 4px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #000;
  border: 1px solid #ccc;
}
.my-orders-wrapper-sec table.table-area thead tr{
  background: #dfdfdf;
}
.my-orders-wrapper-sec table.table-area tr td {
  padding: 8px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #454545;
  font-size: 12px;
}
.my-orders-wrapper-sec table.table-area tr td table.inner-table1 tr td{
  border: none !important;

}
.my-orders-wrapper-sec table.table-area tr td table.inner-table2 thead tr{
  border-bottom: 1px solid #dfdfdf;
  background: none;
}
.my-orders-wrapper-sec table.table-area tr td table.inner-table2 tr td, .my-orders-wrapper-sec table.table-area tr td table.inner-table2 tr th{
  border: none !important;
  text-align: center;
}
.order-img{
  width: 100%;
  height: 86px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-img img{
  max-width: 100%;
  max-height: 100%;
  margin:0
}
.template-view-order{
  width: 100%;
  padding: 6px;
  text-align: center;
  background: #e0344e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s; 
}
.template-view-order:hover{
  color: #fff;
  background: #000;
  transition: all 0.4s;
}
.status1{
  color: #f00 !important;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.status2{
  color: #000;
  text-transform: uppercase;
  font-weight: 500 !important;
}
/* ===================== My orders ====================== */
/* ===================== 05-07-2018 ====================== */
.custom-select2-dropdown{
  float: left;
  width: 100%;
  position: relative;
  margin-top: 3px;
}
.select2-results__option{
    cursor: pointer;
    float: left !important;
    width: 100% !important;
    padding: 0 5px !important;
}
.select2-results__option:hover{ background: #eee !important; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee;
    color: white;
}

.custom-select2-dropdown .pf-photo{ border: none; border-radius: 3px; }
.custom-select2-dropdown .pf-desc p{ display: inline-block; float: left; }
.custom-select2-dropdown .pf-desc dd{display: inline-block; float: left; font-family: 'Montserrat', sans-serif;
font-weight: 300;font-size: 12px;color: #000; padding: 3px 0 0 15px; position: relative; margin-left: 15px;}
.custom-select2-dropdown .pf-desc dd:after{ content: '|'; position: absolute; color: #333; top: 2px; left: 0; }

.custom-select2-dropdown .pf-desc h4 {
    font-weight: 500;
    font-size: 11px;
    padding: 3px 0;
}

.select2-container--default .select2-selection--multiple {
    background: #fff url(../images/downarrow.jpg) no-repeat 96% 12px;
    border: 1px solid #d0d0d0 !important;
    border-radius: 0;
    cursor: text;
    height: 34px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    padding: 3px 5px 2px;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #da0808;}
/* ===================== 05-07-2018 ====================== */




