UNKNOWN { MARGIN: 0px }
html { HEIGHT: 100% }

input:focus, textarea:focus
{ 
background-color:#FFFFFF !important;
}



body {
	padding: 0px; 
	margin: 0px; 
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	width:100%;
/*	background-image:url(../images/topbg.jpg) repeat-x left;*/
	background-color:#dfdfe1;
}
/*a{
	font-size:12px;
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	color:#494747;
	text-decoration:underline;
}
a.hover{
	font-size:12px;
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	text-decoration:underline;
color:#3b84c5;
}*/
.mainCol
{
    border:0px solid #000;	
    font-family:'Ubuntu', sans-serif;;
    font-size:12px;	
    margin:0px;
    background:#dfdfe1;
    min-height: 400px;	
}



.menuSeperator	{ 
-moz-box-shadow:inset 1px 3px 5px #ccc;
-webkit-box-shadow:inset 1px 3px 5px #ccc;
box-shadow:inset 1px 3px 5px #ccc;
height:6px;
}
        
#main { margin: 0px ;  padding:0px; }
#gapsubpage { 	padding:4px; text-decoration: none }
#gaphome { padding:5px;}
#gap { padding:8px; TEXT-DECORATION: none }

#body_text 
    {
	padding:0px; 
	text-decoration: none;
	}

#headtop {  
height:65px; 
width:100%;
background-color:#f1f1f1;
}
#logo{ vertical-align:middle; float:left; padding:17px 0px 0px 10px;}
#righttoptext{ vertical-align:middle; float: right;  padding:20px 0px 0px 0px;}

#menutop { background: url(../images/bg_top_2.jpg) repeat-x left; height:24px;  }
#menutopmid {  height:38px; background-color:#0060b0; }

#menutopmidbuttom { background: url(../images/bg_top_4.jpg) repeat-x left; height:66px;  }
#menulast { height:66px; background-color:#FFFFFF;  }
#menulastend {  height:44px; 
background-color:#f6f6f6; 
border-top:#e9e9e9 1px solid; 

}


/*------------------------------------------------------*/

.dashboardIcon{
float:left;padding-right:10px ;
}
.dashboardIcon p{
text-align:center;
	font-family:'Ubuntu', sans-serif;;
	font-size:13px;
	line-height: 16px;
	margin-top: 5px;
	color:#444444;
	
}

.dashboardIcon:hover p{
color:#0060b0 !important;
}


/*------------------------------------------------------*/
.homeHeader{font-size:15px;
line-height:20px;
font-family: 'Ubuntu', sans-serif;
text-decoration:none;
color:#666666;
}


/*************** menu 1 *************************************************/

#menu{ float:right; padding:0px 0px 0px 0px; text-align:right; margin: 0;border:0px solid #000;text-decoration: none; 
color: #1a1a1c;  font-size:12px; padding: 0;}
#menu a{ text-decoration: none; color: #1a1a1c;  font-size:14px; padding: 5px 20px 0px 5px; ; display:block; } 
#menu a:visited{ color: #1a1a1c; } 
#menu a:hover, #menu .current{  color: #0060b0;   }
#drop { padding:13px 77px 0px 0px; float:right;}	
/*************** menu 2 *************************************************/

#menutopmidli { height:30px; padding:0px ; float:left; }
#menutopmidli ul { list-style-type: none; margin: 0;padding:0 }
#menutopmidli ul li { float: left; padding: 0 7px 0 11px;}
#menutopmidli ul a.start {
padding: 0px 5px 0px 0px;
display: block;
text-decoration: none;
font-size: 13px;
color: #f3f3f3;
height:40px;
line-height:40px;
text-align:center;
}
#menutopmidli ul a.start:hover {
padding: 0px 5px 0px 0px;
display: block;
text-decoration: none;
font-size: 13px;
color: #FFF;
height:40px;
line-height:40px;
text-align:center;
}
#menutopmidli ul a.normal {

padding: 0px 5px 0px 5px;
display: block;
text-decoration: none;
font-size: 13px;
color: #f3f3f3;
height:40px;
line-height:40px;
text-align:center;
}
#menutopmidli ul a.normal:hover {

padding: 0px 5px 0px 5px;
display: block;
text-decoration: none;
font-size: 13px;
color: #8dcbff;
height:40px;
line-height:40px;
text-align:center;
}
#menutopmidli ul a.last 
{
background: url(../images/menu_2_mid.jpg) no-repeat right top; 
padding: 0px 5px 0px 5px;
display: block;
text-decoration: none;
font-size: 13px;
color: #141516;
height:40px;
line-height:40px;
text-align:center;
}

#menutopmidli ul a.last:hover 
{
background: url(../images/menuTopMidSel.png) repeat-x top left;
padding: 0px 5px 0px 5px;
display: block;
text-decoration: none;
font-size: 13px;
color:#FFF;
height:40px;
line-height:40px;
text-align:center;
}

#menutopmidli ul a.selected {
/* background: url(../images/menuTopMidSel.png) repeat-x top left; */
background-color:#FFFFFF;
padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 13px;
color: #14489f;
height:40px;
line-height:40px;
text-align:center;
}
#menutopmidli ul a.selected:hover {

padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 13px;
color: #448ac5;
height:40px;
line-height:40px;
text-align:center;
}

#menulastendli ul a.normal {
padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #666666;
height:44px;
line-height:44px;
text-align:center;
}
#menulastendli ul a.normal:hover {

padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #29292b;
height:44px;
line-height:44px;
text-align:center;
}
#menulastendli ul a.last 
{
padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 13px;
color: #141516;
height:44px;
line-height:44px;
text-align:center;
}

#menulastendli ul a.last:hover 
{
padding: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 13px;
color: #FFF;
height:44px;
line-height:44px;
text-align:center;
}

/*************** menu 3 *************************************************/

#b_arrow_left { color:#1a1a1c; font-size:20px; padding: 20px 10px 0px 10px; float:left;}
#b_arrow { color:#bcbcbc; font-size:14px; padding: 24px 0px 0px 0px; float:left; font-weight:bold;}
#b_arrow_right { color:#a3a3a3; font-size:22px; padding: 20px 10px 0px 10px; float:left;}

/*
#snapshot a {float:right;  padding: 48px 5px 0px 5px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center;border:0px solid #000; width:120px; }

#snapshot a:hover {border: 2px solid #6EDA69; padding: 48px 3px 0px 3px; height:14px; text-align:center;  margin-top:0px; }

#snapshot a.selected {border: 2px solid #6EDA69; padding: 48px 3px 0px 3px; height:14px; text-align:center;  margin-top:0px; }
*/

#snapshotContent{
float:right;
display:block;
width:80px;
margin-top:10px;
font-family: 'Ubuntu', sans-serif;
}
#snapshotContent.selected div.menuButton{
background-color:#0060b0;
border:#155081 1px solid;
height: 30px;
}

#snapshotContent.selected a{
color:#0060b0 !important;

}


#snapshotContent:hover div.menuButton{
background-color:#0060b0;
border:#155081 1px solid;
}

#snapshotContent:hover a{
color:#0060b0 !important;
font-family: 'Ubuntu', sans-serif;
}

#snapshotContent a{
text-decoration:none;
color:#0f0f0f;
font-size:12px;
line-height: 20px;
font-family: 'Ubuntu', sans-serif;
}

#snapshotContent a:hover{
color:#0060b0 !important;
}
/*
#snapshotContent a {float:right; padding: 48px 5px 0px 5px; margin-top:2px; height:14px; font-size:10px; color:#000000; display:block; text-decoration:none; text-align:center;border:0px solid #000; width:60px; }

#snapshotContent a:hover {border: 2px solid #6EDA69; padding: 48px 3px 0px 3px; height:14px; text-align:center;  margin-top:0px; }

#snapshotContent a.selected {border: 2px solid #6EDA69; padding: 48px 3px 0px 3px; height:14px; text-align:center;  margin-top:0px; }
*/

.menuButton{
padding:5px 2px 8px 2px;
border:#cccccc 1px solid;
border-radius:4px;
width:43px;
margin-top:5px;
font-family: 'Ubuntu', sans-serif;
height: 30px;
}








#Intigrated a { background:url(../images/icon2.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Intigrated a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Marketing a { background:url(../images/icon3.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Marketing a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Customer a { background:url(../images/icon4.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Customer a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Predictive a { background:url(../images/icon5.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Predictive a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Watchlist a { background:url(../images/icon6.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Watchlist a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Top20 a { background:url(../images/icon7.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Top20 a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

#Demand a { background:url(../images/icon8.png) center top no-repeat;  width:100px;  float:left;  padding: 48px 0px 0px 0px; margin-top:2px; height:14px; font-size:10px; color:#FFFFFF; display:block; text-decoration:none; text-align:center; }
#Demand a:hover {border: 2px solid #6EDA69; padding: 48px 0px 0px 0px; height:14px; text-align:center; width:96px; margin-top:0px; }

/*************************************** menu 4 *************************************************/

#menulastendli { height:44px; padding:0px; float:left; margin:0; padding-left: 11px; }
#menulastendli ul { list-style-type: none; margin: 0;padding:0 }
#menulastendli ul li { float: left; }


#menulastendli ul a.start {
margin: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #1a1a1c;
height:35px;
line-height:44px;
text-align:center;

}
#menulastendli ul a.start:hover {
margin: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #666666;
height:35px;
line-height:44px;
text-align:center;
}

#menulastendli ul li a.selected {
margin: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #1a1a1c;
height:35px;
line-height:44px;
text-align:center;
border-bottom: 2px solid #0060b0;
}
#menulastendli ul a.selected:hover {
margin: 0px 10px 0px 10px;
display: block;
text-decoration: none;
font-size: 14px;
color: #666666;
height:35px;
line-height:44px;
text-align:center;
}




.pageHeading
{
	background: url(../images/listHeading.png) no-repeat left;
	width:400px;
	height:50px;
	font-family:'Ubuntu', sans-serif !important;
	font-size:18px;
	color:#7e7e7f;
	padding-left:53px;	
	line-height:290%;
}

.pageHeading a
{
color:#969697;
font-size:12px;
font-family:'Ubuntu', sans-serif;
margin-top:5px;
}




.wrapper_container{width:96.5%;
border-radius:3px;
display:block;
min-height:300px;
margin:0px auto;
background-color:#f4f4f4 !important;
background: #dfdfe1;
-moz-box-shadow: 1px -1px 6px #ccc;
-webkit-box-shadow: 1px -1px 6px #ccc;
box-shadow: 1px -1px 6px #ccc;
padding:15px;
}



.wrapper_left{
width:70%;
float:left;
}

ol.listingItems{
margin-top:0px;
}

.highlighted{
color:#0060b0 !important;
}

ol.listingItems li a{
	font-family:'Ubuntu', sans-serif;
	text-decoration:none;
	cursor:pointer;
	line-height:25px;
	font-size:14px;
	color:#858383;
}

.colorBox{border-radius:4px;
font-size:13px;
font-family:'Ubuntu', sans-serif;
}

.wrapper_right{
width:30%;
float:left;

}



.ViewbuttonLearge{
padding:10px;
border-radius:4px;
color:#FFFFFF;
background-color:#1581db;
text-decoration:none;
font-size:14px;
font-family:'Ubuntu', sans-serif;
cursor:pointer;
margin-bottom:20px;
}

.ViewbuttonLearge:hover{
padding:10px;
border-radius:4px;
color:#FFFFFF;
background-color:#328bd5 !important;
text-decoration:none;
font-size:14px;
font-family:'Ubuntu', sans-serif;
cursor:pointer;
margin-bottom:20px;
}














input
{
	border:1px solid #cccccc;
}
.fieldText
{
	font-family:'Ubuntu', sans-serif;
	color:#666;font-size:12px;font-weight:bold;
}
.listHeading
{
	background: url(../images/listHeading.png) no-repeat left top;
	width:40px;
	height:40px;
	font-family:'Ubuntu', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#1e67a0;
	padding-left:43px;	
}

.normalEvent
{
	color:#000;
	font-size:11px;
	font-weight:normal;
}
.eventArrow
{
	background: url(../images/eventArrow.png) no-repeat center top;
	width:8px;
	height:10px;
	margin:3px;
}

.eventArrowDown
{
	background: url(../images/eventArrowDown.png) no-repeat center top;
	width:8px;
	height:10px;
	margin:3px;
}

.imgEventRightheadingBg
{
	background: url(../images/imgEventRightheadingBg.png) repeat-x center top;
	height:24px;
	padding:4px 20px;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0e5d9a;
	cursor:pointer;
	cursor:hand;
}

a.imgNew
{
	background: url(../images/imgNew.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgNew:hover
{
	background: url(../images/imgNew.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}


a.imgSave
{
	background: url(../images/imgSave.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgSave:hover
{
	background: url(../images/imgSave.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
a.imgEdit
{
	background: url(../images/imgEdit.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgEdit:hover
{
	background: url(../images/imgEdit.png) no-repeat center top;
	width:34px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
a.imgDelete
{
	background: url(../images/imgDelete.png) no-repeat center top;
	width:26px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgDelete:hover
{
	background: url(../images/imgDelete.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}


a.imgPublish
{
	background: url(../images/imgPublish.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgPublish:hover
{
	background: url(../images/imgPublish.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
a.imgUnpublish
{
	background: url(../images/imgUnpublish.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgUnpublish:hover
{
	background: url(../images/imgUnpublish.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.imgExport
{
	background: url(../images/imgExport.png) no-repeat center top;
	width:25px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgExport:hover
{
	background: url(../images/imgExport.png) no-repeat center top;
	width:25px;
	height:61px;
	padding:34px 25px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}


a.imgBack
{
	background: url(../images/imgBack.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgBack:hover
{
	background: url(../images/imgBack.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.No-Show
{
	background: url(../images/No-Show.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.No-Show:hover
{
	background: url(../images/No-Show.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
a.print-registration
{
	background: url(../images/print-registration.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.print-registration:hover
{
	background: url(../images/print-registration.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.register-member-list
{
	background: url(../images/register-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.register-member-list:hover
{
	background: url(../images/register-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.non-register-member-list
{
	background: url(../images/non-register-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.non-register-member-list:hover
{
	background: url(../images/non-register-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
a.all-member-list
{
	background: url(../images/all-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.all-member-list:hover
{
	background: url(../images/all-member-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.member-wise
{
	background: url(../images/activity-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.member-wise:hover
{
	background: url(../images/activity-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.member-wiseSel
{
	background: url(../images/activity-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.member-wiseSel:hover
{
	background: url(../images/activity-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.Attendee-List
{
	background: url(../images/attendee-list-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.Attendee-List:hover
{
	background: url(../images/attendee-list-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.Attendee-ListSel
{
	background: url(../images/attendee-list-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.Attendee-ListSel:hover
{
	background: url(../images/attendee-list-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}



a.eventListReport
{
	background: url(../images/event-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.eventListReport:hover
{
	background: url(../images/event-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.eventListReportSel
{
	background: url(../images/event-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.eventListReportSel:hover
{
	background: url(../images/event-report-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}


a.imgDowloadlink
{
	background: url(../images/download-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgDowloadlink:hover
{
	background: url(../images/download-list.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.btn
{
	background: url(../images/imgNewx.png) no-repeat center top;
	width:28px;
	height:41px;
	padding:30px 10px;
	text-align:center;
	font-size:11px;
	color:#094a7c;
	text-decoration:none;
}
a.btn:hover
{
	background: url(../images/imgNewx.png) no-repeat center top;
	width:28px;
	height:41px;
	padding:30px 10px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
}

#footer
{
	padding:13px 0;	
	background:#dfdfe1;
}
.footerLeft
{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#999999;
}

.footerLeft span
{	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#666666;
	}


.footerRight
{
	font-family:'Ubuntu', sans-serif;
	font-size:11px;
	color:#999999;
}
#box
{ 
	min-height:96px;
	width:112px;
	border:1px #dddddd solid;
	background:url(../images/icon_bg.png) no-repeat top #0092D2;
	font-family:'Ubuntu', sans-serif;
	text-align:center;
}

#box a 
{
	font-weight:bold; 
	font-size:11px; 
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	vertical-align:middle;
}

#box:hover
{
	border:1px #4597e2 solid;
}

.col_head_left
{
	background: url(../images/imgCheckBoxBg.jpg) repeat-x left top;
	height:30px;
	width:42px;
	font-size:12px;
	color:#494747;
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	padding-top:5px;
	
}
.col_head
{
	background: url(../images/imgTableTopMid.jpg) repeat-x left top;
	height:27px;
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#494747;	
	padding-top:10px;
	padding-left:2px;
}

.col_head a
{
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#494747;	
	padding-top:7px;
	text-decoration:underline;
}

.col_head a:hover
{
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#494747;	
	padding-top:7px;
	text-decoration:underline;
}


.imgTableRightBg
{
	background: url(../images/imgTableRightBg.png) no-repeat left top;
	height:34px;
	width:29px;
	font-weight:bold;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#494747;
}
.col_even
{
	background:#ededed;
	font-size:12px;
	font-family:'Ubuntu', sans-serif;
	color:#353738;
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
	padding-left:3px;
	height:30px;
}



.col_even a {
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:underline;
	font-weight:normal;
}
.col_even a:hover{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#000;
	text-decoration:underline;
	font-weight:normal;
}
.col_odd
{
	background:#fff;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#353738;
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
	padding-left:3px;
	height:30px;
	
}
.col_odd a {
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:underline;
	font-weight:normal;
}
.col_odd a:hover{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#353738;
	text-decoration:underline;
	font-weight:normal;
}


.pagetext
{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	color:#000;
}
.imgInputSearch
{
background: url(../images/imgInputSearch.png) no-repeat left top;
	height:28px;
	width:247px;
	border:0px;
}
.inputGo
{
	background: url(../images/inputGo.png) no-repeat left top;
	height:28px;
	width:29px;
	border:0px solid #000;
	cursor:pointer;
	cursor:hand;
}

form td {
line-height:15px;
font-family: 'Ubuntu', sans-serif;
font-size:12px;
}



.searchTableinput
{
	border:1px solid #ccc;
}
.listHeadingBg
{	height:51px;
padding-top:10px;
}
.listBg
{
/* 	background:#f4f4f4;*/
}




/**------------------ SEARCH FORM ------------------------------*/

.searchform input[type="submit"], .searchform input[type="button"]{
background-color:#aeaeb0;
height:30px;
border-radius:2px;
color:#ffffff;
font-family: 'Ubuntu', sans-serif;
padding:5px;
cursor:pointer;
}


.searchform div{
line-height:30px !important;
font-family: 'Ubuntu', sans-serif;
font-size:12px ;
}

.searchform input[type="submit"], .downloadform input[type="submit"], .downloadform input[type="button"], .searchformbtn{
background-color:#aeaeb0  !important;
height:30px;
border-radius:2px;
color:#ffffff;
font-family: 'Ubuntu', sans-serif;
padding:5px;
cursor:pointer;
-o-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-webkit-transition: background-color 0.5s ease-out;
}

.searchform input[type="submit"]:hover, .searchform .searchBtn:hover, .searchformbtn , .searchformbtn:hover{
background:#666666 !important;
color: #fff;
cursor: pointer;
-o-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-webkit-transition: background-color 0.5s ease-out;
}


.searchform input[type="text"], .searchformtext{
background-color:#f5f5f6;
height:18px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font-family: 'Ubuntu', sans-serif;
padding:5px;
}

.downloadform select, .searchform select{
background-color:#f5f5f6;
height:30px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font-family: 'Ubuntu', sans-serif;
padding:5px;
min-width:150px;
line-height:25px;
}




/**------------------ SEARCH FORM END ---------------------------*/

/*--------------------ENTRY FORM-----------------------------------*/

.contentWraper{
 background-color:#fff;
 box-shadow: 0px 0px 10px #C0C0C0;
 border-radius:2px;
 border:1px solid #b6b6b6;
 padding:15px; 
}

.entryform td ,.fieldText, .entryform td span{ line-height:30px;
}

.requiredSign{font-size:14px; color:#FF3300;
}

.formbutton ,.formbutton:hover ,.formbutton:focus
{ 	font:normal 'Ubuntu', sans-serif; 
	border:1px solid #9d9d9d;	
	color:#FFFFFF;
	cursor:pointer;
	cursor:pointer;
	height:30px;
	background-color:#b5b5b5 !important;
	border-radius:4px;
}

.downCVbutton{
background: url(../images/download-cv.png) no-repeat ;
background-position-x: 5px;
background-position-y: 6px;
padding-left: 20px;
}


.entryform .cancelBtn, .cancelBtn ,.entryform .cancelBtn:focus, .cancelBtn:focus{
background-color:#60be53 !important;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdcdd1), to(#b9b9b9));
background-image: -webkit-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:    -moz-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:     -ms-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:      -o-linear-gradient(top, #cdcdd1, #b9b9b9);
border:1px solid #ccccd0 !important;
border-radius:4px;
color:#FFFFFF !important;
font-size:14px;
cursor:hand;
height: 30px;
padding:0 15px;
cursor:pointer;
}





.entryform input[type="submit"] , .submitBtn ,.entryform input[type="submit"]:focus , .submitBtn:focus{
background-color:#5db850 !important;
/* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5db850), to(#5ab44e)); 
background-image: -webkit-linear-gradient(left, #5db850, #5ab44e);
background-image:    -moz-linear-gradient(left, #5db850, #5ab44e);
background-image:     -ms-linear-gradient(left, #5db850, #5ab44e);
background-image:      -o-linear-gradient(left, #5db850, #5ab44e);
*/
border:1px solid #59aa4e !important;
border-radius:4px;
font-size:14px;
min-width:80px;
height:30px;
cursor:pointer;
color:#FFFFFF !important;
}

.entryform input[type="submit"]:hover, .submitBtn:hover, .cancelBtn:hover{
     -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
     -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
      box-shadow:0px 1px 2px rgba(0,0,0,0.3);
}

.entryform input[type="submit"]:active , .submitBtn:active{
background-color:#5db850 !important;
border:1px solid #59aa4e !important;
border-radius:4px;
font-size:14px;
min-width:80px;
height:30px;
cursor:pointer;
color:#FFFFFF !important;
}



.entryform input[type="text"],.txt-box{
background-color:#f5f5f6;
height:18px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font: 12px 'Ubuntu', sans-serif;
padding:5px;
min-width:300px;
}


.surveyform select{
background-color:#ffffff;
height:30px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font: 12px 'Ubuntu', sans-serif;
padding:5px;
min-width:312px;
line-height:25px;
}

.txt-box-area-survey{
background-color:#ffffff;
height:60px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font-family: 12px 'Ubuntu', sans-serif;
padding:5px;
resize:none;
min-width:300px;
}

.txt-box-area{
background-color:#f5f5f6;
height:18px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font-family: 12px 'Ubuntu', sans-serif;
padding:5px;
}

.entryform textarea, .textareaBox{
background-color:#f5f5f6;
min-height:60px;
border:1px #d2d2d2 solid;
border-radius:2px;
color:#707070;
font-family:12px 'Ubuntu', sans-serif;
padding:5px;
min-width:300px;
font-weight:normal;
}


.modcoder_excolor_clrbox{
width:30px !important;
display:none;
opacity:0;
}

.multy-select-box{
height:100px;
	min-width:281px;
	background-color: #f5f5f6;
	border: 1px #d2d2d2 solid;
	color: #707070;
font-family: 'Ubuntu', sans-serif;
min-width:312px;
}

.select-box, .select
{
min-width:281px;
height:30px;
background-color: #f5f5f6;
border: 1px #d2d2d2 solid;
color: #707070;
font-family: 'Ubuntu', sans-serif;
min-width:312px;
padding:3px 0 3px 3px;
line-height:25px;
}

.select-box-area
{
	height:30px;
	background-color: #f5f5f6;
	border: 1px #d2d2d2 solid;
	color: #707070;
font-family: 'Ubuntu', sans-serif;
line-height:25px;
}

.contentButton{
margin:0 6px 0 10px;
padding:3px 10px 7px 15px;
cursor:pointer;
background: url(../images/picture-add-icon.png) no-repeat ;
width:50px;
}

.ImageHolder{
width:30px;
height:30px;
overflow:hidden;
float:left;
border: 1px solid #CCC;
}

.contentButtonAdd{
color: #0060b0 !important;
font-family: 'Ubuntu', sans-serif;
cursor:pointer;
text-decoration:none;
}
/******************** EMAIL MARKETING ***********************************/
.tabcontainer{
width:100%;
background-color:#f4f4f4;
min-height:520px;
}

.Eventabcontainer{
width:100%;
background-color:#f4f4f4;
padding:20px;
border-bottom:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;

}

.tabcontainer_auto{
background-color:#f4f4f4;
min-height:520px;
}



.emailTempBox{float:left;
padding:10px;
height:160px;
width:120px;
margin:10px;
display:block;
overflow:hidden;
background-color:#ffffff;
border:1px #dfdfe1 solid;
border-radius:3px;
}

.emailTempBox:hover ,.emailTempBoxselected{
background-color:#dfe9ae !important;
}

.clickable
{
	cursor:pointer;
	cursor:hand;
}
.emailTab ,.configMenu
{
/* font-family:'Ubuntu', sans-serif;
	font-size:14px;	
	color:#000;
	background-color:#CCC;
	height:35px;
	padding:0 10px;
	cursor:pointer;
	cursor:hand;
	border-right:1px #b6b6b6 solid;
	background:url(../images/tabbg.jpg); */
	
	
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #666666;
float: left;
height: 43px;
text-align: center;
background-color: #ededed !important;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#d6d7d6));
background-image: -webkit-linear-gradient(top, #ededed, #d6d7d6);
background-image: -moz-linear-gradient(top, #ededed, #d6d7d6);
background-image: -ms-linear-gradient(top, #ededed, #d6d7d6);
background-image: -o-linear-gradient(top, #ededed, #d6d7d6);
border-right:1px #b6b6b6 solid;
padding: 20px 12px 0 12px;
cursor: pointer;
}

 
.emailTabSel, .configMenuSel
{
/*	font-family:'Ubuntu', sans-serif;
	font-size:14px;	
	color:#181616;
	background-color:#f4f4f4;
	height:45px;
	padding:0 10px;
	cursor:pointer;
	cursor:hand;*/	
	
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #666666;
float: left;
height: 43px;
text-align: center;
background-color:#f4f4f4;
border-right:1px #b6b6b6 solid;
padding: 20px 12px 0 12px;
cursor: pointer;
}

.contentButtonRemove{
background:url(../images/lock.png) no-repeat ;
padding:1px 16px 10px 2px;
}

/*-------------------------------------------------------  ----------*/


/*----------------------ENTRY FORM END ------------------------------*/

/*
.listBg td input[type="submit"]{
background-color:#60be53 !important;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#60be53), to(#5ab44e));
background-image: -webkit-linear-gradient(left, #60be53, #5ab44e);
background-image:    -moz-linear-gradient(left, #60be53, #5ab44e);
background-image:     -ms-linear-gradient(left, #60be53, #5ab44e);
background-image:      -o-linear-gradient(left, #60be53, #5ab44e);
border:1px solid #60be53 !important;
border-radius:4px;
font-size:14px;
cursor:hand;
}

.listBg td input[type="button"]{
background-color:#60be53 !important;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdcdd1), to(#b9b9b9));
background-image: -webkit-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:    -moz-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:     -ms-linear-gradient(top, #cdcdd1, #b9b9b9);
background-image:      -o-linear-gradient(top, #cdcdd1, #b9b9b9);
border:1px solid #ccccd0 !important;
border-radius:4px;
color:#FFFFFF !important;
font-size:14px;
cursor:hand;
}


.listBg input[type="submit"]{
background-color:#aeaeb0;
height:30px;
border-radius:2px;
color:#ffffff;
font-family: 'Ubuntu', sans-serif;
padding:5px;
cursor:hand;
}

*/


.req_fld{
font-size:14px;
padding-left:2px;
color:#CC0000;
}
.listBg div{font-family: 'Ubuntu', sans-serif;
font-size:13px;
line-height:17px;
}

.tbl_wrapper{font-family: 'Ubuntu', sans-serif;
font-size:12px !important;
border:0px;
border-spacing: 0 !important;
border-collapse: collapse !important;
margin-top:10px;
width:97%;

}

/*-------------------- PAGINATION START -------------------------*/

.pagenationText
{
 font-size:11px;
 color: #5c5c5c;
 font-weight:bold;
}

#selRecPerPage{
height:23px;
background-color:#F8F8F8;
color:#666666;
border:1px solid #CCCCCC !important;
margin-top:-4px;
padding:0;
}


/*-------------------- PAGINATION END --------------------------*/




.paggingLeft
{
	background: url(../images/paggingLeft.png) no-repeat left top;
	height:23px;
	width:6px;
}
.paggingMid
{
	background: url(../images/paggingMid.png) repeat-x left top;
	height:23px;
	
}
.paggingRight
{
	background: url(../images/paggingRight.png) no-repeat left top;
	height:23px;
	width:6px;
}
.err_div
{	font-family:'Ubuntu', sans-serif !important;
	font-size:18px !important;
	padding-top:22px;
	padding-right:5px;
	color:#0da003;
	width:97%;
	text-align:center;
}
.topicHead
{
	font-family:'Ubuntu', sans-serif;
	font-size:14px; 
	color:#404040; 
	font-weight:bold; 
	text-decoration:none;
}

.topicHead span{
color:#9f9f9f !important;
}

.subjectText
{	font-family:'Ubuntu', sans-serif;
	font-size:12px; 
	color:#636363; 
	font-weight:bold; 
	text-decoration:none;
}

#type_block
{ 
	float:left; 
	width:50px; 
	padding:5px; 
	text-align:left;
	font-size:11px;
	font-weight:normal;
	color:#333;
}
.imgTabLeft
{
	background: url(../images/imgTabLeft.png) no-repeat left top;
	height:30px;
	width:11px;
	cursor:pointer;
	cursor:hand;	
}
.imgTabRight
{
	background: url(../images/imgTabRight.png) no-repeat left top;
	height:30px;
	width:12px;
	cursor:pointer;
	cursor:hand;
}
.imgTabMid
{
	background: url(../images/imgTabMid.png) repeat-x left top;
	height:30px;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#757575;
	padding:7px 0 0 0 ;
	cursor:pointer;
	cursor:hand;
}

.imgTabSelLeft
{
	background: url(../images/imgTabSelLeft.png) no-repeat left top;
	height:30px;
	width:12px;
	cursor:pointer;
	cursor:hand;
}
.imgTabSelRight
{
	background: url(../images/imgTabSelRight.png) no-repeat left top;
	height:30px;
	width:13px;
	cursor:pointer;
	cursor:hand;
}
.imgTabSelMid
{
	background: url(../images/imgTabSelMid.png) repeat-x left top;
	height:30px;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0e5d9a;
	padding:7px 0 0 0 ;
	cursor:pointer;
	cursor:hand;
}
.imgTabSel
{
	background: url(../images/imgTabSelImage.png) no-repeat left top;
	height:9px;
	width:10px;
	cursor:pointer;
	cursor:hand;
}
.imgTab
{
	background: url(../images/imgTabImage.png) no-repeat left top;
	height:9px;
	width:10px;
}
a.tabMore
{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#CC0000;
	padding:7px 0 0 0 ;
	text-decoration:none;
}
a.tabMore:hover
{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0e5d9a;
	padding:7px 0 0 0 ;
}
.minusd
{
	background: url(../images/minus.png) no-repeat; width:14px;height:13px; cursor:hand;cursor:pointer;
	float:left;
}
.plusd
{
	background: url(../images/node.png) no-repeat; width:14px;height:13px; cursor:hand;cursor:pointer;
	float:left;
}
ul.tree, ul.tree ul { list-style-type: none; background: url(../images/vline.png) repeat-y; margin: 0; padding: 0;color:#000; }
ul.tree ul { margin-left: 10px; } 
ul.tree li.plus { margin: 0; padding: 0 12px; line-height: 7px; background: url(../images/node.png) no-repeat; color: #CC3333; font-weight: normal; }
ul.tree li.minus { margin: 0; padding: 0 12px; line-height: 7px; background: url(../images/minus.png) no-repeat; color: #CC3333; font-weight: normal; }
ul.tree li.normal { margin: 0; padding: 0 12px; line-height: 7px; color: #CC3333; font-weight: normal;background: url(../images/normal.png) no-repeat; }
 a.noFolder ,a.noFolder:active,a.noFolder:link,a.noFolder:visited{ color:#000; text-decoration:none;padding:0 ; margin:0;}
ul.tree li a.folder{ color:#000; text-decoration:none;padding:0 20px; margin:0;background: url(../images/imgTreeFolder.png) no-repeat; }

ul.tree li.last { padding: 0 12px;background: #fff url(../images/lastnode.png) no-repeat; }
a.product{color:#000; text-decoration:none;padding:0 20px; margin:0;background: url(../images/imgTreeProduct.png) no-repeat;line-height:20px; }

.bigblue1
{
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	background:#efefef;
	height:14px;
	padding:7px;
}
.err_text
{
	font-family:'Ubuntu', sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

td{
	font-size:11px;
}

.pagenation
{
	text-decoration:none;
	font-size:12px;
	color: #5c5c5c;
	font-weight:bold;
	padding:5px 7px;
	border: 1px solid #d7d7d7;
	background-color: #ffffff !important;
	margin-left:-2px;
	border-radius:2px;
}

.pagenation:hover
{
	text-decoration:none;
	font-size:12px;
	color: #ffffff;
	font-weight:bold;
	padding:5px 7px;
	background-color:#0060b0 !important;	
	border: 1px solid #286EA2;
	background-color: #286EA2;
	border-radius:2px;
}

.pagenationActive 
{
	text-decoration:none;
	font-size:12px;
	color: #ffffff;
	font-weight:bold;
	padding:5px 7px;
	background-color:#0060b0 !important;	
	/*border: 1px solid #286EA2;*/
	background-color: #286EA2;
	border-radius:2px;
}

.logout{
background: url(../images/arrow.png) no-repeat right top 2px;
margin-right:10px;
}
.logoutUp{
background: url(../images/arrowUp.png) no-repeat right top; 
margin-right:10px;
}


a.imgImport
{
	background: url(../images/imgImport.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.imgImport:hover
{
	background: url(../images/imgImport.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
.left { float:left; }
.right { float:right; }
.clear { clear:both; }


a.registration-details-icon
{
	background: url(../images/registration-details-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.registration-details-icon:hover
{
	background: url(../images/registration-details-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.registration-details-iconSel
{
	background: url(../images/registration-details-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.registration-details-iconSel:hover
{
	background: url(../images/registration-details-icon.png) no-repeat center top;
	width:32px;
	height:61px;
	padding:30px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.popupinnerboxbg { height: 319px; width:688px; overflow:auto; border:1px solid #CCCCCC; background: url(../images/popupinnerboxbg.gif) repeat-y; text-align:left; padding:5px 0 0 0;  }

.popupinnertext { font-size:18px !important; font-family: 'Ubuntu'; color: #333333;  }
a.csvUpload
{
	background: url(../images/csv-upload-icon.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.csvUpload:hover
{
	background: url(../images/csv-upload-icon.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

a.downloadList
{
	background: url(../images/download-list-icon.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px solid #000;
}
a.downloadList:hover
{
	background: url(../images/download-list-icon.png) no-repeat center top;
	width:28px;
	height:61px;
	padding:34px 20px;
	text-align:center;
	font-size:11px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.txt-box_small {
    background-color: #f5f5f6;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    color: #707070;
    font: 12px "Ubuntu",sans-serif;
    height: 18px;
    min-width: 20px;
    padding: 5px;
}

.article_left_panel{
    width: 195px;
    height: auto;
}

.article_left_panel ul{
    float: left;
    
}

.article_left_panel ul li{
    list-style: none;
    padding: 5px;
    width: 195px;
    border: 1px solid #cccccc;
}

.article_left_panel ul li a{
    text-decoration: none;
    color: #0e5d9a;
    line-height: 30px;
    font-size: 14px;
    
}


