@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Tenor+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

body{font-family: 'PT Sans Narrow', sans-serif; font-size: 16px;}
label{ font-weight: 300;}
h1, h2, h3, h4, h5{font-family: 'PT Sans Narrow', sans-serif; font-weight: 700;}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: 0;
}
.main-menu li.active > a, .main-menu li a:hover {
	background-color: #5EC1C4 !important;
}
.main-menu > li > a.active {
	background-color: #2980B9;
}

.forth-menu li div.add-new {
	display:none;
}
.forth-menu{margin-top: 5px;}
.forth-menu a{padding: 5px 18px; background-color: #EF4E3F; text-decoration: none; color:#fff; border-radius: 4px; font-size:14px; font-family: 'PT Sans Narrow', sans-serif;}
.forth-menu a:hover { background-color:#CF3324;  }
a:hover {
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
text-decoration: none;
}
.box-body.table-responsive .btn-group{margin-bottom: 30px;}
.dl_btn{float: right; background-color: #5EC1C4; padding: 5px 10px; color:#fff; border-radius:4px;}
.dl_btn:hover{ background-color: #008D91; transition: all 0.4s ease-in-out; color: #fff;}
.form-control{height:auto;}
.save_btn {
  background-color: #ef4e3f;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 4px 31px;
}
.save_btn:hover {background-color: #CF3324; transition: all 0.4s ease-in-out; color: #fff;}
#delete_img{margin-top: 10px;}
.dtl_btn{float: right; background-color: #5EC1C4; padding: 5px 10px; color:#fff; border-radius:4px; margin-top: 10px;}
.dtl_btn:hover{ background-color: #008D91; transition: all 0.4s ease-in-out; color: #fff;}
/*
 Custom alert
*/

.custom-alert .alert {
  margin-bottom: 15px;
  padding: 5px;
}
.custom-alert .alert h4 {
  margin-bottom: 0;
}
.custom-alert ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul.dataTables_paginate {
	padding: 0;
}

ul.dataTables_paginate li {
	display: inline;
	margin: 0 5px;
	background: #5ec1c4;
	padding: 2px 7px;
    color:#fff;
    border-radius: 5px;
}
ul.dataTables_paginate li:hover {
	background: #008D91;
}    
 .curr_active_class {
	background: #008D91 !important;
}
#content {
  width: 100%;
}

.ajax-loader-hide {
    position: relative;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ajax-loader-hide:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.8;
    z-index: 9999;
    content: "";
}
.ajax-loader-hide::after {
  color: #333;
  content: "\f110";
  font-family: "FontAwesome";
  font-size: 60px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;    
  opacity: 1;
  position: absolute;
  top: 50%;
  z-index: 9999;
animation-duration: 1600ms;
animation-iteration-count: infinite;
animation-name: spin;
animation-timing-function: linear;
}
#header .navbar-default .navbar-profile {
	padding-right: 60px;
}


.navbar-default .navbar-collapse, .sidebar-back {
  background: #1A2229;
}
.sidebar-collapsed .sidebar-back {
	background: #1A2229;
}
.main-menu li a {
  background: #ef4e3f none repeat scroll 0 0;
  /*box-shadow: 0 0 7px #eee;*/
  color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
}
.fa-bars::before {
  color: #fff;    
}
.main-menu > li > a .fa:first-child {
	color: #FFF;
}
.main-menu > li > a.active {
	background-color: #ECECEC;
	color:#000;
}
.main-menu li.active > a, .main-menu li a:hover {
  background-color: #FDE3A7 !important;
  color: #000 !important;
}
.main-menu li.active > a i, .main-menu li a:hover i{
	color: #000 !important;
}
#header .navbar-default .navbar-nav > li > a, #header .navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
#header .navbar-default .navbar-nav > li > a:hover, #header .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
#header .navbar-default .navbar-profile {
	padding-right: 60px;
}


/*** 28/12/2016 ***/
.nav_sec {
	/*background: rgba(0,184,206,1);
	background: -moz-linear-gradient(top, rgba(0,184,206,1) 0%, rgba(94,193,196,1) 12%, rgba(94,193,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,184,206,1)), color-stop(12%, rgba(94,193,196,1)), color-stop(100%, rgba(94,193,196,1)));
	background: -webkit-linear-gradient(top, rgba(0,184,206,1) 0%, rgba(94,193,196,1) 12%, rgba(94,193,196,1) 100%);
	background: -o-linear-gradient(top, rgba(0,184,206,1) 0%, rgba(94,193,196,1) 12%, rgba(94,193,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,184,206,1) 0%, rgba(94,193,196,1) 12%, rgba(94,193,196,1) 100%);
	background: linear-gradient(to bottom, rgba(0,184,206,1) 0%, rgba(94,193,196,1) 12%, rgba(94,193,196,1) 100%); */
	background: #00B8CE;
	width: 100%;
}
.main_menu {
	float: left;
	text-align: left;
	padding: 0;
}
.main_menu .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.nav-menu {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.nav-menu li {
	display: inline-block;
	list-style: outside none none;
	margin: 0;
	position: relative;
}
ul.nav-menu li a {
  color: #c7fdff;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 41px;
  margin: 0;
  padding: 0 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu li:hover a {
	color: #FFF;
	position: relative;
	background: rgba(0,107,111,1);
	background: -moz-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,107,111,1)), color-stop(10%, rgba(0,140,145,1)), color-stop(100%, rgba(0,140,145,1)));
	background: -webkit-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -o-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: linear-gradient(to bottom, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
}
.nav-menu li.current-menu-item a, .nav-menu li.current a {
	color: #FFF;
	position: relative;
	font-weight: 600;
	/*background: rgba(0,107,111,1);
	background: -moz-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,107,111,1)), color-stop(10%, rgba(0,140,145,1)), color-stop(100%, rgba(0,140,145,1)));
	background: -webkit-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -o-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);
	background: linear-gradient(to bottom, rgba(0,107,111,1) 0%, rgba(0,140,145,1) 10%, rgba(0,140,145,1) 100%);*/
	background: #62584E;
}

.sub_btn {
	font-weight: 300;
	color: #fff;
	background-color: #898989;
	border: none;
	height: 45px;
	margin-left: 0px;
	padding: 0 14px;
	border-radius: 5px;
}
.sub_btn:hover {
	background-color: #000;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

button.slot_search[type="submit"]:hover{
    background: #3D8688;
}
button.slot_search[type="submit"]{
    background: #5ec1c4;
    margin-left: 10px;
}
/*** 28/12/2016 ***/

/**** 31-03-2017 ***/
.singleDiv {
  display: inline-block;
  margin-left: 25px;
  border: 1px solid #c2c2c2;
  overflow: hidden;
}

.img_browse_wrap {
    float: left;
    text-align: center;
    width: 100%;
}
.img_browse_wrap .file-uploader-wrap {
    float: none;
    margin: 0 auto;
}
.imgprevdiv {
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
/*11-04-2017*/
.checkDiv label {
	font-size: 12px;
	font-weight: 400;
}
.custom-butn label {
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 99;
  padding-left: 15px;
  border: 1px solid #62584E;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.custom-butn input[type="checkbox"]{
	 display: none; 
} 
.custom-butn label::before {
  content: url("../../../assets/admin/img/icons/publish.png");
  cursor: pointer;
  display: block;
  height: 22px;
  left: -11px;
  opacity: 0;
  position: absolute;
  top: 13px;
  width: 22px;
  z-index: 999;
}
.custom-butn label:hover:before{
opacity: 0.3;
}
.custom-butn input[type="checkbox"]:checked + label::before{
opacity: 1;
}
/* .custom-butn label.active-check::before{
	opacity: 1;
} */
.feature-display {
  border: 1px solid #3f3f3f;
  border-radius: 50%;
  float: left;
  line-height: 31px;
  margin-right: 10px;
  max-height: 35px;
  max-width: 35px;
  min-height: 35px;
  min-width: 35px;
  text-align: center;
}
.feature-display > img {
  height: 22px;
  width: 22px;
}
/*11-04-2017*/

/*12-04-2017*/
.dataTables_info {
  float: left;
  margin-top: 0;
  width: 50%;
  padding-left: 5px;
}
.dataTables_paginate {
  clear: inherit;
  float: right;
  margin-top: 5px;
  text-align: right;
  width: 50%;
}
ul.dataTables_paginate li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 0;
  color: #3f3f3f;
  display: inline;
  margin: 0;
  padding: 2px 7px;
}
.curr_active_class {
  background: #ddd !important;
}
ul.dataTables_paginate li:hover {
  background: #ddd;
}
/*12-04-2017*/
/*14-04-2017*/
#datatable1 thead tr th .btn-group{
	margin-bottom: 0;
}
.text-light > strong {
  font-weight: 400;
  color: #ef4e3f;
  font-size: 15px;
}
 .img_browse_wrap label span {
background: #00b8ce;
padding: 6px 20px;
border-radius: 50px;
color: #fff;
font-family: lato, sans-serif;
font-weight: 600;
color: #fff;
cursor: pointer;
display: inline-block;
transition: all 0.4s ease-in-out 0s;
}
.img_browse_wrap label span:hover{
	background: #008A9B;
	transition: all 0.4s ease-in-out 0s;
}
}
.img_browse_wrap input[type="file"] {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;

}
.img_browse_wrap input[type="file"] {
  display: block;
  opacity: 0;
}

/*14-04-2017*/

.section-header.section-4 {
  margin-top: 16px;
}
ul.forth-menu {
	padding-left: 10px;
}
.table thead {
	background: #fde3a7;
	color: #4b4848 !important;
}


/*19-05-2017*/

.doc_img {
	float: left;
	width: 42%;
	position: relative;
}
.doc_img img {
	height: auto;
	width: 100%;
}
.veryfied_batch {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: rgba(56,196,70,0.8);
	color: #fff;
	text-align: center;
	padding: 3px;
	font-weight: 600;
}
.unveryfied_batch {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: rgba(228,107,19,0.8);
	color: #fff;
	text-align: center;
	padding: 3px;
	font-weight: 600;
}
.doc_info {
	padding: 5px;
}
.doc_des {
	float: right;
	width: 58%;
	padding: 0 5px 0 15px;
}
.doc_des h2 {
	font-size: 16px;
	color: #00acac;
	margin: 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #00acac;
}
.doc_des h3 {
	font-size: 14px;
	color: #666;
	margin: 10px 0 0 0;
	padding-bottom: 3px;
}
.doc_des h3 span {
	font-size: 12px;
	color: #999;
	display: block;
}
.doc_des ul {
	margin: 0;
	padding: 0;
}
.doc_des ul li {
	list-style-type: none;
	position: relative;
	padding-left: 20px;
	font-size: 13px;
	line-height: 15px;
	margin-top: 8px;
}
.doc_des ul li i {
	position: absolute;
	left: 0;
	top: 4px;
	width: 15px;
}
.doc_info p {
	font-size: 12px;
	color: #666;
	display: block;
	margin: 10px 0 0 0;
	font-weight: 400;
}
.doc_info p span {
	font-size: 15px;
	display: block;
	font-weight: 600;
}
.doc_schedule {
	padding: 5px 10px;
	position: relative;
}
.doc_schedule ul {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
.doc_schedule ul li {
	width: 25%;
	float: left;
	list-style-type: none;
	text-align: center;
}
.doc_schedule ul li:first-child {
	text-align: left;
}
ul.sch_head {
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}
ul.sch_time {
	border-bottom: 1px solid #ccc;
	margin-top: 6px;
	padding-bottom: 1px;
}

ul.sch_time li:first-child {
	font-size: 13px;
	font-weight:600;
}
.abt_doc {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	transform: translate(0,-50%);
	padding: 10px;
	display: none;
	background: #fff;
	border: 2px solid #b7b7b7;
	max-height: 250px;
}
.abt_doc p {
	font-size: 13px;
	color: #666;
	margin: 0;
	font-weight:400;
}
.abt_doc p span {	
	color: #444;
	display: block;
	font-weight:700;
	font-size: 15px;
}

/*19-05-2017*/
/*Listing-search-section*/
.well.listing-search {
  float: right;
  padding: 8px;
}
.well.listing-search .form-group {
  margin-bottom: 0;
}
.well.listing-search .search-listing-butns input.save_btn {
  background-color: #00b8ce;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  padding: 4px 10px;
}
.well.listing-search .search-listing-butns{
	margin: 0 auto;
}
.listing-search-field{
	float: left;
	width: 70%;
	margin-right: 5px;
}
.search-listing-butns{
	float: right;
	width: 29%;
	text-align: center;
}
/*Listing-search-section*/
#sidebar .nav-brand {
  height: 51px !important;
}
/*------------21-08-2017-----------*/
.commu-img {
  align-items: center;
  border: 3px solid #dfdfdf;
  display: flex;
  float: left;
  height: 168px;
  justify-content: center;
  margin-bottom: 15px;
  margin-right: 13px;
  overflow: hidden;
  position: relative;
  width: 50%;
  transition: all 0.4s ease-in-out 0s;
}
.commu-img a::before {
  background: rgba(26, 34, 41, 0.8) none repeat scroll 0 0;
  color: #fff;
  content: "";
  cursor: pointer;
  font-family: fontawesome;
  font-size: 30px;
  height: 100%;
  left: 0;
  opacity: 0.5;
  padding-top: 36%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
}
.commu-dtls-wrap{
	float: left;
	width: 100%;
	clear: box;
}
.catagory-row{
	float: left;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
}
.catagory-row ul{
	margin: 0;
	padding: 0;
}
.catagory-row ul li {
  display: inline-block;
  list-style: outside none none;
  padding: 3px 0;
  width: 135px;
  vertical-align: middle;
}
.catagory-row ul li:first-child{
	font-size: 14px;
	border-right: 1px solid #dfdfdf;
}
.catagory-row ul li:last-child{
	margin-bottom: 0;
}
.prop-price p{
	font-size: 14px;
	color: #1f1f1f;
	font-weight: 600;
}
.auto-lock::after {
  color: rgba(204, 204, 204, 0.6);
  content: "";
  font-family: fontawesome;
  font-size: 200px;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/*------------21-08-2017-----------*/

.demo-gallery ul li {
	width: 33.33%;
	display: inline-block;
	margin: 5px -2px;
	padding: 0px 7px;
	height: 185px;
	overflow: hidden;
}
/*------------23-08-2017------------*/
.property-name > h3 {
  border-bottom: 1px solid #f1771f;
  color: #6e6e6e;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 5px;
}
.list-sec-dtls {
  float: right;
  width: 47%;
}
.lg-outer.lg-visible {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  opacity: 1;
}
/*------------23-08-2017------------*/
/*------------30-08-2017------------*/
.commu-img a > img {
  max-width: 100%;
}
/*------------30-08-2017------------*/

/*------------31-08-2017------------*/
.control-width-large{ max-width:500px;}
.control-width-large button{border: 1px solid #bfbfbf; background:#f7f7f7}
.control-width-large button:hover{ background:#f7f7f7;}
.control-width-large button:focus{ background:#f7f7f7; box-shadow:none; outline:none !important;}
.btn-group.open .dropdown-toggle{ box-shadow:none;}
.control-width-large .dropdown-menu{box-shadow:none;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{ background:none;}

.open button:active {
outline: none;
border: none;
}
/*------------31-08-2017------------*/

/*------------09-09-2017------------*/
.search-head h3 {
  font-size: 15px;
  margin-top: 0;
  padding-left: 19px;
  position: relative;
}
.search-head > h3::after {
  content: "";
  font-family: fontawesome;
  left: 0;
  position: absolute;
  top: 0;
}
.box-body.table-responsive .btn-group {
  margin-bottom: 0 !important;
}
.srch-drpdwn label{
	font-size: 10px;
	color: #00ACAC;
}
/*------------09-09-2017------------*/

.sticky{ overflow:hidden;}
.sticky .sidebar-content{ position:fixed; top:-51px; width:180px;}

/* ********** 13-09-2017  *************  */

.reviews{ position:relative; margin:0; padding:0; float:left; width:100%;}
.reviews ul{ position:relative; margin:0; padding:0;}
.reviews ul li{ list-style-type:none; position:relative; float:left; padding:3px 3px; font-size:16px; color:#FFA500;}

.gradeX span{ display:block; font-size:12px;}


.acc_blocked_tag {
  background: #f00 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  width: 40%;
}

.acc_active_tag{background: #1fb731 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  width: 40%;}
  
.acc_inactive_tag{background: #8e8f8e none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  width: 40%;}
  
.login_cred{ position:relative; float:left; width:100%; border:1px solid #ccc; margin:20px 0; padding:15px;}
.login_cred h2 {
  background: #fff none repeat scroll 0 0;
  font-size: 14px;
  left: 17px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: -32px;
}

.checkBx{ width:100%; float:left; position:relative; padding:10px 0;}

/*----- 01-12-2017 ---------- */
.section-body{min-height:1000px;}

.required_class{
	color: #f00;
}
.header-txt-align {
	margin-left: 19px;
}
.body-head p{
	font-size: 12px;
	color: #3d3d3d;
}
.body-head p span{
	color: #f00;
}


/* ------------------- 02-02-2018 ---------------------------*/

.rowTable{ position: relative; float: left; width: 100%; margin: 0; margin-top: 20px; }
.rows{width: 100%; position: relative; float: left;  padding:15px 5px 15px; margin:0px 0; border-bottom: 1px dashed #aeaeae;}


.left_part{width: 80%; float: left; /*border-right:1px solid #ccc;*/ padding:0px;}
.imgare{ width: 100px; margin-right: 10px; height: 100px; border-radius: 100%; overflow: hidden; float: left; display: flex;	justify-content: center;}
.left_part p{ width: calc(100% - 140px); float: left; position: relative; height: 80px; font-size: 36px; font-weight: 400; text-align: left; display: flex; color:#a89898; font-family: 'Shadows Into Light', cursive; justify-content:center;	align-content:center; flex-direction:column;}
.right_part{ width: 20%; float: right; padding: 5px; text-align: right; position: relative;  }
.number{
	font-size: 14px;
	color: #bab7b3;
	font-weight: 600;
	font-family: 'Tenor Sans', sans-serif;
	text-align: left;}
.number bdi{ color: #00b8ce; font-size: 18px;}
.left_part a{ display: block;
	position: relative;
	float: left;
	width: 100%;}
.stutas{ width: 100% !important; background: none; font-family: 'PT Sans Narrow', sans-serif;
	margin: 2px; border: none; font-size: 14px; position: relative; text-align: left;
	float: left;}
.bdrBtm{ border-right: 1px dashed #aeaeae;}
.padRt{ padding-right: 20px;}
.subheads{ font-size: 25px; font-family: 'Tenor Sans', sans-serif; color: #9c9c9c; margin: 5px; padding: 10px 0; border-bottom: 1px dashed #ddd; margin-right: 45px;}

.rowTable .rows:last-child{border-bottom: none;}

.text-light{ font-size: 22px;}
.st_inactive{ opacity: 0.3;}
.st_inactive:after{ content:''; position: absolute; width: 100%; height: 108px; top:-4px; left:0; background: rgba(255,255,255,0.3); z-index: 1;}

.table-bordered thead tr th{ border-bottom:2px solid #f00;}
#delete_profile_img{margin-bottom: 15px;
float: left;
width: 100%}
/***************08-02-2018*******************/
.urls {
	display: block;
	background: #f00;
	width: 90%;
	padding: 7px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 5px 0;
}
.list_img_wrapper {
	width: 90%;
	height: 105px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*********Side-sticky*********/
body{ margin:0px; padding:0px; overflow-X: hidden;}

.contactForm_area {
	width: 250px;
	height: 443px;
	position: fixed;
	right: -250px;
	top: 25%;
	background: #000;
	transition: all 0.3s ease-in-out 0s;
}
.mobile-screen-sec{
	width: 250px;
	height: 443px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon_area {
	position: absolute;
	float: left;
	width: 99px;
	height: 29px;
	left: -63px;
	color: #fff;
	transform: rotate(-90deg);
	text-align: center;
	top: 35px;
	border-radius: 4px 4px 0 0;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #EF4E3F;
}
.icon_area:hover, .icon_area:focus{
	color: #fff;
}
.contactForm_area.tabslideout {
   
    right: 0px;
    z-index: 9;
}
.slideleft-box-wrapper {
    position: relative;
    right: -100%;
   
    z-index: 1;
}
/*********Side-sticky*********/

/***************08-02-2018*******************/




