/*!
 * jQuery UI CSS Framework 1.10.1
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
 
/*--------Widget Down arrow-------------------*/
.open div.widget-title{        
  background: url(../images/down_arrow.png) !important; 
  background-position: right !important;
  background-repeat: no-repeat !important;
  background-position-x: 98% !important;
}

.box .widget div.widget-title{
  background: url(../images/left_arrow.png); 
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 98%;
}
/*-------Widget Down arrow--------------------*/

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70);
    z-index: 100101;
}


.inner-sidebar {
    float: right;
    clear: right;
    display: none;
    width: 281px;
    position: relative;
}

.columns-2 .inner-sidebar {
    margin-right: auto;
    width: 286px;
    display: block;
}

.columns-2 .inner-sidebar #side-sortables,.inner-sidebar #side-sortables {
    min-height: 300px;
    width: 280px;
    padding: 0;
}

.has-right-sidebar .inner-sidebar {
    display: block;
}

.has-right-sidebar #post-body {
    float: left;
    clear: left;
    width: 100%;
    margin-right: -2000px;
}

.has-right-sidebar #post-body-content {
    margin-right: 300px;
    float: none;
    width: auto;
}


.zp-widget-control{
border:1px #ccc solid;
font-weight:400;
line-height:20px;
padding:0 5px;

}



#col-container,#col-left,#col-right {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#col-left {
    width: 35%;
}

#col-right {
    float: right;
    clear: right;
    width: 65%;
}

.col-wrap {
    padding: 0 7px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.clear {
    clear: both;
}



.widget {
    margin: 0 auto 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget-top {
    font-size: 13px;
    font-weight: 600;
    background: #f7f7f7;
}

.widget-top a.widget-action,.widget-top a.widget-action:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    text-decoration: none;
}

.widget-title h4 {
    margin: 0;
    padding: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size:14px;
	border:1px #D8D8D8 solid;
	cursor:pointer;
	color:#333333;
}

.widgets-holder-wrap .widget-inside {
    border-top: none;
    padding: 10px 10px 10px;
    line-height: 16px;
}

#available-widgets .widget-description,#widgets-right a.widget-control-edit,.in-widget-title {
    color: #666;
}

.deleting .widget-title,.deleting .widget-top a.widget-action:after {
    color: #aaa;
}

.widget.ui-draggable-dragging {
    min-width: 100%;
}

.widget.ui-sortable-helper {
    opacity: .8;
}

.widget-placeholder {
    border: 1px dashed #bbb;
    margin: 0 auto 10px;
    height: 45px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#widgets-right .widget-placeholder {
    margin-top: 0;
}

#widgets-right .closed .widget-placeholder {
    height: 0;
    border: 0;
    margin-top: -10px;
}

.sidebar-name {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-name-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.js .sidebar-name {
    cursor: pointer;
}

.sidebar-name h3 {
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    white-space: nowrap;
}

.widgets-holder-wrap .description {
    padding: 0 0 15px;
    margin: 0;
    font-style: normal;
    color: #777;
}

#widgets-right .widgets-holder-wrap .description {
    padding-left: 7px;
    padding-right: 7px;
}

div.widget-liquid-left {
    margin: 0;
    width: 38%;
    float: left;
}

div.widget-liquid-right {
    float: right;
    width: 58%;
}

div#widgets-left {
    padding-top: 12px;
}

div#widgets-left .closed .sidebar-name,div#widgets-left .inactive-sidebar.closed .sidebar-name {
    margin-bottom: 10px;
}

div#widgets-left .sidebar-name h3 {
    padding: 2px 0;
    margin: 0 10px 0 0;
}

div#widgets-left .sidebar-name .sidebar-name-arrow:before {
    right: 0;
    top: 4px;
    padding: 4px 6px 4px 4px;
}

#widgets-left #available-widgets,div#widgets-left .widget-holder {
    background: 0 0;
    border: none;
}

#widgets-left .widgets-holder-wrap {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#available-widgets .widget-action {
    display: none;
}

#available-widgets .widget {
    margin: 0;
}

#available-widgets .widget:nth-child(odd) {
    clear: both;
}

#available-widgets .widget .widget-description {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
}

#available-widgets #widget-list {
    position: relative;
}

#widgets-left .inactive-sidebar {
    clear: both;
    width: 100%;
    background: 0 0;
    padding: 0;
    margin: 0 0 20px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#widgets-left .inactive-sidebar.first {
    margin-top: 40px;
}

div#widgets-left .inactive-sidebar .widget.expanded {
    left: auto;
}

.widget-title-action {
    float: right;
    position: relative;
}

div#widgets-left .inactive-sidebar .widgets-sortables {
    min-height: 42px;
    padding: 0;
    background: 0 0;
    margin: 0;
    position: relative;
}

div#widgets-right:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#widgets-right .sidebars-column-1,div#widgets-right .sidebars-column-2 {
    max-width: 450px;
}

div#widgets-right .widgets-holder-wrap {
    margin: 10px 0 0;
}

div#widgets-right .sidebar-description {
    min-height: 20px;
    margin-top: -5px;
}

div#widgets-right .sidebar-name h3 {
    padding: 15px 7px;
}

div#widgets-right .sidebar-name .sidebar-name-arrow:before {
    right: 0;
    top: 4px;
}

div#widgets-right .widget-top {
    padding: 0;
}

div#widgets-right .widgets-sortables {
    padding: 0 8px;
    margin-bottom: 9px;
    position: relative;
    min-height: 123px;
}

div#widgets-right .closed .widgets-sortables {
    min-height: 0;
    margin-bottom: 0;
}

.sidebar-name .spinner {
    margin: -5px 5px;
    float: none;
}

#widgets-right .widgets-holder-wrap.widget-hover {
    border-color: #777;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.widgets_access #widgets-left .widget .widget-top {
    cursor: auto;
}

.widgets_access #wpwrap .widget-control-edit,.widgets_access #wpwrap .widgets-holder-wrap.closed .sidebar-description,.widgets_access #wpwrap .widgets-holder-wrap.closed .widget {
    display: block;
}

.widgets_access #widgets-left .widget .widget-top:hover,.widgets_access #widgets-right .widget .widget-top:hover {
    border-color: #ddd;
}

#available-widgets .widget-control-edit .edit,#widgets-left .inactive-sidebar .widget-control-edit .add,#widgets-right .widget-control-edit .add {
    display: none;
}

.widget-control-edit {
    display: block;
    color: #666;
    background: #EEE;
    padding: 0 15px;
    line-height: 43px;
    border-left: 1px solid #DDD;
}

#widgets-left .widget-control-edit:hover,#widgets-right .widget-control-edit:hover {
    color: #fff;
    background: #444;
    border-left: 0;
    outline: #444 solid 1px;
}

.widgets-holder-wrap .sidebar-description,.widgets-holder-wrap .sidebar-name {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editwidget {
    margin: 0 auto;
}

.editwidget .widget-inside {
    display: block;
    padding: 0 15px;
}

.editwidget .widget-control-actions {
    margin-top: 20px;
}

.js .closed br.clear,.js .widgets-holder-wrap.closed .sidebar-description,.js .widgets-holder-wrap.closed .widget,.widget-description,.widget-inside {
    display: none;
}

.widget-inside {
    background: #fff;
	border-left:1px #E6E6E6 solid;
	border-right:1px #E6E6E6 solid;
	border-bottom:1px #E6E6E6 solid;
}

#removing-widget {
    display: none;
    font-weight: 400;
    padding-left: 15px;
    font-size: 12px;
    line-height: 1;
    color: #000;
}

.js #removing-widget {
    color: #2ea2cc;
}

#access-off,.no-js .widget-holder .description,.widget-control-noform,.widgets_access #access-on,.widgets_access .sidebar-name-arrow,.widgets_access .widget-action,.widgets_access .widget-holder .description {
    display: none;
}

.widgets_access #widget-list,.widgets_access .widget-holder {
    padding-top: 10px;
}

.widgets_access #access-off {
    display: inline;
}

.widgets_access .sidebar-name,.widgets_access .widget .widget-top {
    cursor: default;
}

.widget-liquid-left #widgets-left.chooser #available-widgets .widget,.widget-liquid-left #widgets-left.chooser .inactive-sidebar {
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    opacity: .2;
    pointer-events: none;
}

.widget-liquid-left #widgets-left.chooser #available-widgets .widget-in-question {
    opacity: 1;
    pointer-events: auto;
}

#available-widgets .widget-top:hover,#widgets-left .widget-in-question .widget-top,#widgets-left .widget-top:hover,.widgets-chooser ul,div#widgets-right .widget-top:hover {
    border-color: #999;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.widgets-chooser ul.widgets-chooser-sidebars {
    margin: 0;
    list-style-type: none;
    max-height: 300px;
    overflow: auto;
}

.widgets-chooser {
    display: none;
}

.widgets-chooser ul {
    border: 1px solid #ccc;
}

.widgets-chooser li {
    padding: 10px 15px 10px 35px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.widgets-chooser li:focus,.widgets-chooser li:hover {
    background: rgba(255,255,255,.7);
}

.widgets-chooser li:focus:before {
    content: '\f147';
    display: block;
    -webkit-font-smoothing: antialiased;
    font: 400 26px/1 dashicons;
    color: #999;
    position: absolute;
    top: 7px;
    left: 5px;
}

.widgets-chooser li:last-child {
    border: none;
}

.widgets-chooser li.widgets-chooser-selected {
    background: #2ea2cc;
    color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,.widgets-chooser li.widgets-chooser-selected:focus:before {
    content: '\f147';
    display: block;
    -webkit-font-smoothing: antialiased;
    font: 400 26px/1 dashicons;
    color: #fff;
    position: absolute;
    top: 7px;
    left: 5px;
}

.widgets-chooser .widgets-chooser-actions {
    padding: 10px 0 12px;
    text-align: center;
}

.widgets-chooser button {
    margin-right: 5px;
}

#available-widgets .widget .widget-top {
    cursor: pointer;
}

@media screen and (max-width:480px) {
    div.widget-liquid-left {
        width: 100%;
        float: none;
        border-right: none;
        padding-right: 0;
    }

    #widgets-left #available-widgets .widget-top,#widgets-left .inactive-sidebar .widgets-sortables,#widgets-left .sidebar-name {
        margin-right: 0;
    }

    div.widget-liquid-right {
        width: 100%;
        float: none;
    }

    div.widget {
        margin: 0 auto 10px!important;
        max-width: 480px;
    }
}

@media screen and (max-width:320px) {
    div.widget {
        max-width: 320px;
    }
}

@media only screen and (min-width:1250px) {
    #widgets-left #available-widgets .widget {
        width: 49%;
        float: left;
	padding-right:10px;
        padding-bottom: 10px;
    }

    .widget.ui-draggable-dragging {
        min-width: 49%;
    }

    #widgets-left #available-widgets .widget:nth-child(even) {
        float: left;
    }
    
    
    #widgets-right .sidebars-column-1,#widgets-right .sidebars-column-2 {
        float: left;
        width: 49%;
    }

    #widgets-right .sidebars-column-1 {
        margin-right: 2%;
    }

    #widgets-right.single-sidebar .sidebars-column-1,#widgets-right.single-sidebar .sidebars-column-2 {
        float: none;
        width: 100%;
        margin: 0;
    }
}

