/*-----------THIRD LEAVEL MENU--------------------*/
.third-menu-wrapper{
width:100%;
display:block;
padding:10px 10px 0 0 ;
}

.third-menu{
float:right;
width:auto;
text-align:left;
list-style:none;

}

.third-menu li{
float:left;
margin-left:10px;
color:#1b629e;
}

.third-menu li.active{
border-bottom:3px #1b629e solid;
}

.third-menu li a{
color:#1b629e;
text-decoration:none;
}

/*--------REQUIRED CSS------------------*/
.required{
  content:"*";color:red;
  width:20px;
  height:15px;
}

.alert ul{
list-style: none;
padding: 0;
}

.alert .alert-close{
  cursor: pointer !important;
  padding: 5px 10px;    
}

.nav li{
cursor:pointer;
}

/*--------FORTH LEAVEL MENU-------------*/

.forth-menu{
list-style:none;
float:right;
}

.forth-menu li{
list-style:none;
float:left;
font-size:12px;
cursor:pointer;
text-align:center;
margin-left:10px;
}

.forth-menu li div{
display:block;
height:30px;
width:50px;
background-repeat:no-repeat;
background-position:center;
font-size:22px;	
}

.forth-menu li div.add-new{
background-image:url(../../img/icons/add-new.png);
}

.forth-menu li div.delete{
background-image:url(../../img/icons/delete.png);
}

.forth-menu li div.publish{
background-image:url(../../img/icons/publish.png);
}

.forth-menu li div.unpublish{
background-image:url(../../img/icons/unpublish.png);
}



.section-header{
padding-bottom:5px;
}

.section-6{
width:60%;
float:left;
}
.section-4{
width:40%;
float:right;
text-align:right;
}


/*---------MENU-----------*/
.menu-app-head{
background-color:#F7F7F7;
}

.spinner{
  background-image:url(../../images/loading.gif);     
  background-repeat: no-repeat;
  width: 30px;
  height: 33px;
  display: inline-block;
  margin-bottom: -14px;
}


.modal-media {
    width: 90% !important;
    height: 100% !important;
  }
  
  
.header_notification_message{
  padding-left: 0px !important;
  padding-right: 0px !important;
}


